data/data/flows.json
[{"id":"40b06f71.2d0f1","type":"tab","label":"Boiler_Demo","disabled":false,"info":""},{"id":"dbdb9101.cdb51","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"f5d52cc1.5f6bc","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"Historian","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://influxdb:8086","rejectUnauthorized":false},{"id":"a89405f9.fc2ec8","type":"OpcUa-Client","z":"40b06f71.2d0f1","endpoint":"dbdb9101.cdb51","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPCUA","x":410,"y":220,"wires":[["4b59f4f2.4ac92c","425fb3fe.5a1ebc"]]},{"id":"2cb18dc4.cdb0c2","type":"inject","z":"40b06f71.2d0f1","name":"FD_FAN_SPEED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;i=1012","payload":"","payloadType":"date","x":180,"y":220,"wires":[["a89405f9.fc2ec8"]]},{"id":"4b59f4f2.4ac92c","type":"debug","z":"40b06f71.2d0f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"425fb3fe.5a1ebc","type":"influxdb out","z":"40b06f71.2d0f1","influxdb":"f5d52cc1.5f6bc","name":"Historian","measurement":"analog","precision":"","retentionPolicy":"","database":"historian","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":630,"y":280,"wires":[]}]