data/flows.json
[{"id":"151399d6.e64456","type":"tab","label":"Boiler_Demo_OnPrem","disabled":true,"info":""},{"id":"7a9550e.40e0cb","type":"tab","label":"Boiler_Demo_AWS_IoT","disabled":false,"info":""},{"id":"d82bdc0b.a6f31","type":"tab","label":"TCL_SPMS","disabled":true,"info":""},{"id":"24aab329.a0d324","type":"tab","label":"Simulated Route","disabled":true,"info":""},{"id":"8a583297.042cc","type":"tab","label":"LoRa Route","disabled":true,"info":""},{"id":"3db2dd36.97c742","type":"tab","label":"Thingsboard","disabled":true,"info":""},{"id":"a288699b.8838c8","type":"tab","label":"SPMS_RubikX_IoT","disabled":false,"info":"Data for SPMS assets pushed to RubikX IoT platform."},{"id":"c8a12490.2f3778","type":"tab","label":"Chem_Plant_RM_Storage","disabled":false,"info":"Flow set up for a chemical plant"},{"id":"64f7d845.77bec8","type":"tab","label":"Chem Plant Reactor Area","disabled":false,"info":""},{"id":"84d8564c.441438","type":"tab","label":"SCMS","disabled":false,"info":""},{"id":"c0877346.7186d","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"e2cb3b51.7041a8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"Furnace_DB","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://influxdb:8086","rejectUnauthorized":false},{"id":"6aa039ac.8b5128","type":"aws-iot-device","name":"AWS_IOT","mode":"broker","clientId":"NodeRed_OPC","endpoint":"ajiyyxvfl92yj-ats.iot.us-east-1.amazonaws.com","awscerts":"/data/aws-certs"},{"id":"62c10675.b84218","type":"lorawan-config","rawFrames":false,"mode":"2","modeP2P_radioPwr":"15","modeP2P_radioFreq":"868100000","modeP2P_radioSf":"sf12","modeP2P_radioCr":"4/5","modeP2P_radioBw":"125","modeP2P_radioCRC":"on","serialPort":"COM23","lock":true,"baudRate":"57600","dataBits":"8","stopBits":"1","parity":"none"},{"id":"186a8114.7c17ff","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"c059dfbd.254f9","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840","secpol":"None","secmode":"None","login":false},{"id":"8a6f1c83.9e6c9","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840","secpol":"None","secmode":"None","login":false},{"id":"fd2c7f83.30482","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"21b1cccf.1146d4","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"63f19e.ea8bbe64","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"9fe0190b.1b5338","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"603d58a0.6a04e8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"4e087323.be169c","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.86.40:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"15f32f37.a064d1","type":"OpcUa-Endpoint","endpoint":"opc.tcp://dockerhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"98d434f9.216188","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"c6d1e1cb.52d9a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"25e018b5.336288","type":"OpcUa-Endpoint","endpoint":"opc.tcp://dockerhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"83a24f2e.f3c35","type":"OpcUa-Endpoint","endpoint":"opc.tcp://peris-mbp.lan:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"da0c46e5.9cb828","type":"OpcUa-Endpoint","endpoint":"opc.tcp://host.docker.internal:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"48ff46b.9e082b8","type":"ttn app","appId":"rubikx-loraawn-helloworld","accessKey":"ttn-account-v2.iTCcl4lxp9YHiVjGHH621k9aYYWwXHi0ipN7FBspksg","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"5e1bbe63.d2d95","type":"OpcUa-Endpoint","endpoint":"opc.tcp://docker.internal.host:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"5a62734d.0f878c","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7dcf9f01.11828","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":626,"y":115,"wires":[["dc229b7f.597c58"]]},{"id":"d01fe823.f26428","type":"inject","z":"151399d6.e64456","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":171,"y":117,"wires":[["58b3ca0a.3de4a4","fd27bce3.59fd3","5072761d.301aa8","d553f87c.92bcc8","87a5a4b1.f50a58","2b15ce98.3867b2","21bec64.054263a","41d13fe4.57876"]]},{"id":"58b3ca0a.3de4a4","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1012","datatype":"Double","value":"","name":"FD_FAN_SPEED","x":391,"y":118,"wires":[["7dcf9f01.11828"]]},{"id":"fd27bce3.59fd3","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1013","datatype":"Boolean","value":"","name":"FD_FAN_RUNNING_STATUS","x":426,"y":216,"wires":[["8d2ebdd1.59022"]]},{"id":"8d2ebdd1.59022","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":693,"y":215,"wires":[["a5a5d012.a9a38"]]},{"id":"945080d1.e2083","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":713,"y":316,"wires":[["ca768cde.7a159"]]},{"id":"5072761d.301aa8","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1018","datatype":"Double","value":"","name":"FURNACE_PRESSURE","x":426,"y":323,"wires":[["945080d1.e2083"]]},{"id":"ca768cde.7a159","type":"function","z":"151399d6.e64456","name":"FURNACE_PRESSURE","func":"msg.payload = {\n    \"name\": \"Boiler_Furanace_Pressure\",\n    \"pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":945,"y":317,"wires":[["8a337e3c.4542d"]]},{"id":"a8590e0d.ecc9e","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":720,"y":452,"wires":[["5d95d52c.751f1c"]]},{"id":"d553f87c.92bcc8","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1017","datatype":"Double","value":"","name":"FURNACE_TEMPERATURE","x":440,"y":427,"wires":[["a8590e0d.ecc9e"]]},{"id":"5d95d52c.751f1c","type":"function","z":"151399d6.e64456","name":"FURNACE_TEMPERATURE","func":"msg.payload={\n    \"name\":\"Boiler_Furnace_Temperature\",\n    \"temperature\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":974,"y":449,"wires":[["8a337e3c.4542d"]]},{"id":"8a337e3c.4542d","type":"influxdb out","z":"151399d6.e64456","influxdb":"e2cb3b51.7041a8","name":"Furnace","measurement":"furnace","precision":"","retentionPolicy":"","database":"historian","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1227,"y":368,"wires":[]},{"id":"7184866a.09e578","type":"influxdb out","z":"151399d6.e64456","influxdb":"e2cb3b51.7041a8","name":"FD Fan","measurement":"fd_fan","precision":"","retentionPolicy":"","database":"historian","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1227,"y":126,"wires":[]},{"id":"dc229b7f.597c58","type":"function","z":"151399d6.e64456","name":"FD_FAN_SPEED","func":"msg.payload = {\n    \"name\": \"FD_FAN_SPEED\",\n    \"speed\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":909,"y":102,"wires":[["7184866a.09e578"]]},{"id":"a5a5d012.a9a38","type":"function","z":"151399d6.e64456","name":"FD_FAN_RUNNING_STATUS","func":"msg.payload = {\n    \"name\": \"FD_FAN_RUNNING_STATUS\",\n    \"pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":948,"y":178,"wires":[["7184866a.09e578"]]},{"id":"c5e5fe4c.cdb63","type":"OpcUa-Client","z":"7a9550e.40e0cb","d":true,"endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":360,"y":240,"wires":[["cb3157e4.4cf778"]]},{"id":"a6b33944.4d4d98","type":"inject","z":"7a9550e.40e0cb","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":179,"wires":[["3f1f3cb9.547524"]]},{"id":"3f1f3cb9.547524","type":"OpcUa-Item","z":"7a9550e.40e0cb","d":true,"item":"ns=3;i=1012","datatype":"Double","value":"","name":"FD_FAN_SPEED","x":360,"y":180,"wires":[["c5e5fe4c.cdb63"]]},{"id":"cb3157e4.4cf778","type":"function","z":"7a9550e.40e0cb","d":true,"name":"FD_FAN_SPEED","func":"msg.payload = {\n    \"name\": \"FD_FAN_SPEED\",\n    \"speed\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["1fa6ac1a.76cab4"]]},{"id":"1fa6ac1a.76cab4","type":"aws-mqtt out","z":"7a9550e.40e0cb","d":true,"device":"6aa039ac.8b5128","topic":"/opc","qos":0,"x":560,"y":340,"wires":[]},{"id":"87a5a4b1.f50a58","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1015","datatype":"Double","value":"","name":"STEAM_DRUM_LEVEL","x":430,"y":520,"wires":[["73a7b394.49a4ac"]]},{"id":"73a7b394.49a4ac","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":700,"y":540,"wires":[["4d43b570.ca748c"]]},{"id":"4d43b570.ca748c","type":"function","z":"151399d6.e64456","name":"STEAM_DRUM_LEVEL","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_DRUM_Level\",\n    \"level\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":540,"wires":[["8a2c6473.533968"]]},{"id":"8a2c6473.533968","type":"influxdb out","z":"151399d6.e64456","influxdb":"e2cb3b51.7041a8","name":"STEAM_DRUM","measurement":"steam_drum","precision":"","retentionPolicy":"","database":"historian","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1240,"y":540,"wires":[]},{"id":"2b15ce98.3867b2","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1022","datatype":"Double","value":"","name":"STEAM_HEADER_FLOW","x":450,"y":620,"wires":[["dec9ea5e.fb1da8"]]},{"id":"dec9ea5e.fb1da8","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":720,"y":640,"wires":[["c1e9d96e.3fd0f8"]]},{"id":"c1e9d96e.3fd0f8","type":"function","z":"151399d6.e64456","name":"STEAM_HEADER_FLOW","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_HEADER_Flow\",\n    \"flow\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":640,"wires":[["2150038c.7bbf6c"]]},{"id":"2150038c.7bbf6c","type":"influxdb out","z":"151399d6.e64456","influxdb":"e2cb3b51.7041a8","name":"STEAM_HEADER","measurement":"steam_header","precision":"","retentionPolicy":"","database":"historian","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1290,"y":680,"wires":[]},{"id":"21bec64.054263a","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1020","datatype":"Double","value":"","name":"STEAM_HEADER_PRESSURE","x":470,"y":700,"wires":[["d2e95dff.06ba3"]]},{"id":"d2e95dff.06ba3","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":720,"y":720,"wires":[["9473b889.6e4ef8"]]},{"id":"9473b889.6e4ef8","type":"function","z":"151399d6.e64456","name":"STEAM_HEADER_PRESSURE","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_HEADER_Pressure\",\n    \"pressure\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":720,"wires":[["2150038c.7bbf6c"]]},{"id":"41d13fe4.57876","type":"OpcUa-Item","z":"151399d6.e64456","item":"ns=3;i=1020","datatype":"Double","value":"","name":"STEAM_HEADER_TEMPERATURE","x":480,"y":780,"wires":[["3d55f4c.cff2b0c"]]},{"id":"3d55f4c.cff2b0c","type":"OpcUa-Client","z":"151399d6.e64456","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":720,"y":800,"wires":[["1f1388bb.107e97"]]},{"id":"1f1388bb.107e97","type":"function","z":"151399d6.e64456","name":"STEAM_HEADER_TEMPERATURE","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_HEADER_Temperature\",\n    \"temperature\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":800,"wires":[["2150038c.7bbf6c"]]},{"id":"3a0b9489.705d7c","type":"function","z":"d82bdc0b.a6f31","name":"Load_Deviation","func":"\nmsg.payload = {\n    \"load_deviation\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":180,"wires":[["fbbfc41c.10e488"]]},{"id":"5846cf23.7d3dc","type":"OpcUa-Item","z":"d82bdc0b.a6f31","item":"ns=3;i=1042","datatype":"Double","value":"","name":"BP_Load_Deviation","x":330,"y":140,"wires":[["69435051.67c0d"]]},{"id":"69435051.67c0d","type":"OpcUa-Client","z":"d82bdc0b.a6f31","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS","x":560,"y":160,"wires":[["3a0b9489.705d7c"]]},{"id":"bed7571f.e6ca88","type":"inject","z":"d82bdc0b.a6f31","name":"Load_Deviation","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["5846cf23.7d3dc"]]},{"id":"dad46ef6.4bba2","type":"function","z":"d82bdc0b.a6f31","name":"Load_Size","func":"\nmsg.payload = {\n    \"load_size\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":300,"wires":[["fbbfc41c.10e488"]]},{"id":"f349583e.07c858","type":"OpcUa-Item","z":"d82bdc0b.a6f31","item":"ns=3;i=1039","datatype":"Double","value":"","name":"BP_Load_Size","x":340,"y":260,"wires":[["8f68ca96.f307b8"]]},{"id":"8f68ca96.f307b8","type":"OpcUa-Client","z":"d82bdc0b.a6f31","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS","x":560,"y":280,"wires":[["dad46ef6.4bba2"]]},{"id":"d84f2349.04d08","type":"inject","z":"d82bdc0b.a6f31","name":"Load_Size","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["f349583e.07c858"]]},{"id":"8e8f0161.a3b08","type":"function","z":"d82bdc0b.a6f31","name":"Number_Of_Alarms","func":"\nmsg.payload = {\n    \"number_of_alarms\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":437,"wires":[["fbbfc41c.10e488"]]},{"id":"18923145.9ae1bf","type":"OpcUa-Item","z":"d82bdc0b.a6f31","item":"ns=3;i=1043","datatype":"Double","value":"","name":"BP_Number_Of_Alarms","x":410,"y":397,"wires":[["5d99f8e3.407cf8"]]},{"id":"5d99f8e3.407cf8","type":"OpcUa-Client","z":"d82bdc0b.a6f31","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS","x":620,"y":417,"wires":[["8e8f0161.a3b08"]]},{"id":"85bf6b81.e341f8","type":"inject","z":"d82bdc0b.a6f31","name":"Number_Of_Alarms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":397,"wires":[["18923145.9ae1bf"]]},{"id":"2e7c1b96.042eb4","type":"function","z":"d82bdc0b.a6f31","name":"Total_Actual_Weight","func":"\nmsg.payload = {\n    \"total_actual_weight\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":537,"wires":[["fbbfc41c.10e488"]]},{"id":"881aad9f.acd37","type":"OpcUa-Item","z":"d82bdc0b.a6f31","item":"ns=3;i=1042","datatype":"Double","value":"","name":"BP_Total_Actual_Weight","x":410,"y":497,"wires":[["472ee34e.4a8a9c"]]},{"id":"472ee34e.4a8a9c","type":"OpcUa-Client","z":"d82bdc0b.a6f31","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS","x":620,"y":517,"wires":[["2e7c1b96.042eb4"]]},{"id":"91cc48be.5ef778","type":"inject","z":"d82bdc0b.a6f31","name":"Total_Actual_Weight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":497,"wires":[["881aad9f.acd37"]]},{"id":"e545eb58.e42068","type":"function","z":"d82bdc0b.a6f31","name":"Total_Set_Weight","func":"\nmsg.payload = {\n    \"total_set_weight\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":637,"wires":[["fbbfc41c.10e488"]]},{"id":"cf965ed6.5bbda","type":"OpcUa-Item","z":"d82bdc0b.a6f31","item":"ns=3;i=1042","datatype":"Double","value":"","name":"BP_Total_Set_Weight","x":400,"y":597,"wires":[["b6de9471.66a228"]]},{"id":"b6de9471.66a228","type":"OpcUa-Client","z":"d82bdc0b.a6f31","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS","x":600,"y":617,"wires":[["e545eb58.e42068"]]},{"id":"c7a0857e.094618","type":"inject","z":"d82bdc0b.a6f31","name":"Total_Set_Weight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":597,"wires":[["cf965ed6.5bbda"]]},{"id":"fbbfc41c.10e488","type":"influxdb out","z":"d82bdc0b.a6f31","influxdb":"e2cb3b51.7041a8","name":"Batching_Plant","measurement":"batching_plant","precision":"","retentionPolicy":"","database":"spms","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1560,"y":400,"wires":[]},{"id":"40d7609d.85a22","type":"inject","z":"24aab329.a0d324","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":400,"wires":[["7c8d6acb.b9d81c"]]},{"id":"7c8d6acb.b9d81c","type":"template","z":"24aab329.a0d324","name":"Paste GPX file into this Template node","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n    <rtept lat=\"40.76792\" lon=\"-73.98118\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76805\" lon=\"-73.98053\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97972\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97916\"/>\n    <rtept lat=\"40.76789\" lon=\"-73.97885\"/>\n    <rtept lat=\"40.76817\" lon=\"-73.97841\"/>\n    <rtept lat=\"40.76823\" lon=\"-73.97811\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.97769\"/>\n    <rtept lat=\"40.76801\" lon=\"-73.97748\"/>\n    <rtept lat=\"40.76859\" lon=\"-73.97645\"/>\n    <rtept lat=\"40.7688\" lon=\"-73.97635\"/>\n    <rtept lat=\"40.76916\" lon=\"-73.97575\"/>\n    <rtept lat=\"40.76969\" lon=\"-73.97537\"/>\n    <rtept lat=\"40.76971\" lon=\"-73.97519\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97504\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97472\"/>\n    <rtept lat=\"40.76984\" lon=\"-73.97455\"/>\n    <rtept lat=\"40.76992\" lon=\"-73.97427\"/>\n    <rtept lat=\"40.76987\" lon=\"-73.97342\"/>\n    <rtept lat=\"40.76968\" lon=\"-73.97311\"/>\n    <rtept lat=\"40.76951\" lon=\"-73.97256\"/>\n    <rtept lat=\"40.76952\" lon=\"-73.97224\"/>\n    <rtept lat=\"40.7697\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77017\" lon=\"-73.97128\"/>\n    <rtept lat=\"40.77066\" lon=\"-73.97102\"/>\n    <rtept lat=\"40.77107\" lon=\"-73.97065\"/>\n    <rtept lat=\"40.77145\" lon=\"-73.96991\"/>\n    <rtept lat=\"40.77177\" lon=\"-73.96939\"/>\n    <rtept lat=\"40.77228\" lon=\"-73.96902\"/>\n    <rtept lat=\"40.77247\" lon=\"-73.96867\"/>\n    <rtept lat=\"40.77271\" lon=\"-73.96841\"/>\n    <rtept lat=\"40.77261\" lon=\"-73.96766\"/>\n    <rtept lat=\"40.77289\" lon=\"-73.9675\"/>\n    <rtept lat=\"40.77293\" lon=\"-73.96722\"/>\n    <rtept lat=\"40.77321\" lon=\"-73.96701\"/>\n    <rtept lat=\"40.77357\" lon=\"-73.96711\"/>\n    <rtept lat=\"40.77382\" lon=\"-73.96694\"/>\n    <rtept lat=\"40.77435\" lon=\"-73.96655\"/>\n    <rtept lat=\"40.77463\" lon=\"-73.96623\"/>\n    <rtept lat=\"40.7749\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.77538\" lon=\"-73.96565\"/>\n    <rtept lat=\"40.77578\" lon=\"-73.9655\"/>\n    <rtept lat=\"40.77626\" lon=\"-73.96527\"/>\n    <rtept lat=\"40.77648\" lon=\"-73.96511\"/>\n    <rtept lat=\"40.77688\" lon=\"-73.96467\"/>\n    <rtept lat=\"40.77696\" lon=\"-73.96415\"/>\n    <rtept lat=\"40.77705\" lon=\"-73.96386\"/>\n    <rtept lat=\"40.77771\" lon=\"-73.96332\"/>\n    <rtept lat=\"40.7777\" lon=\"-73.96309\"/>\n    <rtept lat=\"40.77832\" lon=\"-73.96264\"/>\n    <rtept lat=\"40.77896\" lon=\"-73.96219\"/>\n    <rtept lat=\"40.77959\" lon=\"-73.96172\"/>\n    <rtept lat=\"40.7802\" lon=\"-73.96154\"/>\n    <rtept lat=\"40.7808\" lon=\"-73.96201\"/>\n    <rtept lat=\"40.78132\" lon=\"-73.96248\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96262\"/>\n    <rtept lat=\"40.7809\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78125\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96098\"/>\n    <rtept lat=\"40.78156\" lon=\"-73.96086\"/>\n    <rtept lat=\"40.78205\" lon=\"-73.96036\"/>\n    <rtept lat=\"40.78312\" lon=\"-73.95958\"/>\n    <rtept lat=\"40.78367\" lon=\"-73.95918\"/>\n    <rtept lat=\"40.78413\" lon=\"-73.95895\"/>\n    <rtept lat=\"40.78636\" lon=\"-73.9574\"/>\n    <rtept lat=\"40.78735\" lon=\"-73.95707\"/>\n    <rtept lat=\"40.78839\" lon=\"-73.95692\"/>\n    <rtept lat=\"40.78891\" lon=\"-73.9571\"/>\n    <rtept lat=\"40.7894\" lon=\"-73.95744\"/>\n    <rtept lat=\"40.78973\" lon=\"-73.95741\"/>\n    <rtept lat=\"40.7898\" lon=\"-73.95752\"/>\n    <rtept lat=\"40.79011\" lon=\"-73.95769\"/>\n    <rtept lat=\"40.79043\" lon=\"-73.95843\"/>\n    <rtept lat=\"40.79066\" lon=\"-73.95857\"/>\n    <rtept lat=\"40.79124\" lon=\"-73.95834\"/>\n    <rtept lat=\"40.7916\" lon=\"-73.95828\"/>\n    <rtept lat=\"40.79206\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79232\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.79326\" lon=\"-73.95839\"/>\n    <rtept lat=\"40.79338\" lon=\"-73.95836\"/>\n    <rtept lat=\"40.79349\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.95808\"/>\n    <rtept lat=\"40.79397\" lon=\"-73.95814\"/>\n    <rtept lat=\"40.79419\" lon=\"-73.95801\"/>\n    <rtept lat=\"40.79432\" lon=\"-73.95799\"/>\n    <rtept lat=\"40.7944\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79442\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79452\" lon=\"-73.95821\"/>\n    <rtept lat=\"40.79461\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79474\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79503\" lon=\"-73.95768\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95706\"/>\n    <rtept lat=\"40.79562\" lon=\"-73.95694\"/>\n    <rtept lat=\"40.79584\" lon=\"-73.9569\"/>\n    <rtept lat=\"40.79609\" lon=\"-73.95672\"/>\n    <rtept lat=\"40.79641\" lon=\"-73.9566\"/>\n    <rtept lat=\"40.79651\" lon=\"-73.95674\"/>\n    <rtept lat=\"40.79688\" lon=\"-73.95681\"/>\n    <rtept lat=\"40.79725\" lon=\"-73.95699\"/>\n    <rtept lat=\"40.79774\" lon=\"-73.95698\"/>\n    <rtept lat=\"40.79816\" lon=\"-73.95742\"/>\n    <rtept lat=\"40.79826\" lon=\"-73.9573\"/>\n    <rtept lat=\"40.79839\" lon=\"-73.95762\"/>\n    <rtept lat=\"40.79867\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79902\" lon=\"-73.95785\"/>\n    <rtept lat=\"40.79916\" lon=\"-73.95774\"/>\n    <rtept lat=\"40.79884\" lon=\"-73.95791\"/>\n    <rtept lat=\"40.79879\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95846\"/>\n    <rtept lat=\"40.79874\" lon=\"-73.95861\"/>\n    <rtept lat=\"40.79857\" lon=\"-73.95865\"/>\n    <rtept lat=\"40.79799\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.7976\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79727\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79713\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79677\" lon=\"-73.95826\"/>\n    <rtept lat=\"40.79658\" lon=\"-73.9585\"/>\n    <rtept lat=\"40.79638\" lon=\"-73.95847\"/>\n    <rtept lat=\"40.79613\" lon=\"-73.95823\"/>\n    <rtept lat=\"40.79593\" lon=\"-73.95838\"/>\n    <rtept lat=\"40.79589\" lon=\"-73.9588\"/>\n    <rtept lat=\"40.79571\" lon=\"-73.9589\"/>\n    <rtept lat=\"40.79548\" lon=\"-73.95906\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95939\"/>\n    <rtept lat=\"40.79516\" lon=\"-73.95955\"/>\n    <rtept lat=\"40.79497\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79478\" lon=\"-73.95963\"/>\n    <rtept lat=\"40.79459\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79438\" lon=\"-73.95973\"/>\n    <rtept lat=\"40.79401\" lon=\"-73.96011\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.96089\"/>\n    <rtept lat=\"40.79339\" lon=\"-73.96146\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.96193\"/>\n    <rtept lat=\"40.79197\" lon=\"-73.9624\"/>\n    <rtept lat=\"40.79165\" lon=\"-73.96257\"/>\n    <rtept lat=\"40.79138\" lon=\"-73.96279\"/>\n    <rtept lat=\"40.79089\" lon=\"-73.96356\"/>\n    <rtept lat=\"40.79058\" lon=\"-73.96403\"/>\n    <rtept lat=\"40.78999\" lon=\"-73.96422\"/>\n    <rtept lat=\"40.78939\" lon=\"-73.96419\"/>\n    <rtept lat=\"40.78899\" lon=\"-73.96445\"/>\n    <rtept lat=\"40.78846\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.78823\" lon=\"-73.96626\"/>\n    <rtept lat=\"40.78791\" lon=\"-73.9667\"/>\n    <rtept lat=\"40.7877\" lon=\"-73.96704\"/>\n    <rtept lat=\"40.78713\" lon=\"-73.96749\"/>\n    <rtept lat=\"40.78608\" lon=\"-73.96779\"/>\n    <rtept lat=\"40.78541\" lon=\"-73.96858\"/>\n    <rtept lat=\"40.78539\" lon=\"-73.96903\"/>\n    <rtept lat=\"40.78522\" lon=\"-73.96919\"/>\n    <rtept lat=\"40.78505\" lon=\"-73.96874\"/>\n    <rtept lat=\"40.78471\" lon=\"-73.96762\"/>\n    <rtept lat=\"40.78484\" lon=\"-73.96791\"/>\n    <rtept lat=\"40.78508\" lon=\"-73.96884\"/>\n    <rtept lat=\"40.7853\" lon=\"-73.96935\"/>\n    <rtept lat=\"40.78447\" lon=\"-73.96954\"/>\n    <rtept lat=\"40.78406\" lon=\"-73.96918\"/>\n    <rtept lat=\"40.78355\" lon=\"-73.96913\"/>\n    <rtept lat=\"40.78285\" lon=\"-73.9693\"/>\n    <rtept lat=\"40.7825\" lon=\"-73.96942\"/>\n    <rtept lat=\"40.78195\" lon=\"-73.96943\"/>\n    <rtept lat=\"40.78153\" lon=\"-73.9694\"/>\n    <rtept lat=\"40.78088\" lon=\"-73.96975\"/>\n    <rtept lat=\"40.78044\" lon=\"-73.97033\"/>\n    <rtept lat=\"40.77985\" lon=\"-73.97117\"/>\n    <rtept lat=\"40.77914\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77856\" lon=\"-73.97266\"/>\n    <rtept lat=\"40.77829\" lon=\"-73.97313\"/>\n    <rtept lat=\"40.77797\" lon=\"-73.97357\"/>\n    <rtept lat=\"40.77736\" lon=\"-73.97404\"/>\n    <rtept lat=\"40.77689\" lon=\"-73.97408\"/>\n    <rtept lat=\"40.77535\" lon=\"-73.97396\"/>\n    <rtept lat=\"40.77485\" lon=\"-73.97432\"/>\n    <rtept lat=\"40.77471\" lon=\"-73.97459\"/>\n    <rtept lat=\"40.77455\" lon=\"-73.97532\"/>\n    <rtept lat=\"40.77429\" lon=\"-73.97564\"/>\n    <rtept lat=\"40.77327\" lon=\"-73.9763\"/>\n    <rtept lat=\"40.7727\" lon=\"-73.97656\"/>\n    <rtept lat=\"40.77189\" lon=\"-73.97699\"/>\n    <rtept lat=\"40.77156\" lon=\"-73.9773\"/>\n    <rtept lat=\"40.77091\" lon=\"-73.97824\"/>\n    <rtept lat=\"40.77049\" lon=\"-73.97878\"/>\n    <rtept lat=\"40.77012\" lon=\"-73.97919\"/>\n    <rtept lat=\"40.76943\" lon=\"-73.97976\"/>\n    <rtept lat=\"40.7691\" lon=\"-73.9799\"/>\n    <rtept lat=\"40.7689\" lon=\"-73.97996\"/>\n    <rtept lat=\"40.76876\" lon=\"-73.97991\"/>\n    <rtept lat=\"40.76872\" lon=\"-73.98033\"/>\n    <rtept lat=\"40.76837\" lon=\"-73.9813\"/>\n    <rtept lat=\"40.76813\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76798\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76781\" lon=\"-73.98124\"/>\n  </rte>\n</gpx>","output":"str","x":370,"y":400,"wires":[["39b8d718.876a7"]]},{"id":"eac5bef1.7dfc9","type":"debug","z":"24aab329.a0d324","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":540,"wires":[]},{"id":"8b794514.171258","type":"comment","z":"24aab329.a0d324","name":"#1 - Visit https://onthegomap.com to map a simulated course","info":"","x":440,"y":240,"wires":[]},{"id":"b663982e.2d6258","type":"comment","z":"24aab329.a0d324","name":"#2 - Export route to a GPX file","info":"After plotting an interesting route,\nclick on the menu in the upper right corner \nof the https://onthegomap.com/#/create\nSelect \"Export as GPX\"\nSave as a text file\n\nYou might want to open the txt file and inspect\nthe lat / lon geocoordinates.\n\nIf your route is many thousands of waypoint entries,\nyou will fill a very big blockchain transaction\nhistory.  Keep the route to < 500 waypoints","x":340,"y":280,"wires":[]},{"id":"f5ef19a5.8ae7b","type":"comment","z":"24aab329.a0d324","name":"#3 - Paste the entire GPX text file into the Template node below","info":"","x":450,"y":320,"wires":[]},{"id":"39b8d718.876a7","type":"function","z":"24aab329.a0d324","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":400,"wires":[["5b1d8ecb.804d"]]},{"id":"5b1d8ecb.804d","type":"csv","z":"24aab329.a0d324","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":170,"y":500,"wires":[["a822eff2.4412c8"]]},{"id":"d89e55f8.3b9768","type":"function","z":"24aab329.a0d324","name":"Simulate a Blockchain Temperature Transaction","func":"var now = Date.now();\nvar d = new Date(now);\nvar ts = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)+ \"T\" + d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()+\"Z\";\n\n\nmsg.payload = { \"AssetID\":\"34304\",\n                \"timestamp\": ts ,\n                \"Temperature\": {\"Celsius\":Math.floor(Math.round(Math.random()*11)+1) },\n                \"gps\": {\"lat\":msg.payload.lat.toString(),\"lon\":msg.payload.lon.toString()}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":580,"wires":[["eac5bef1.7dfc9","e44c8973.1492e8"]]},{"id":"a822eff2.4412c8","type":"delay","z":"24aab329.a0d324","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":500,"wires":[["d89e55f8.3b9768"]]},{"id":"307fb704.7e2078","type":"comment","z":"24aab329.a0d324","name":"This example is a bike route through New York City Central Park","info":"","x":450,"y":360,"wires":[]},{"id":"22ea9728.739a6","type":"comment","z":"24aab329.a0d324","name":"Configure this  link node to the \"Blockchain REST API\" flow tab and \"Build a TemperatureReading Transaction\" link node","info":"","x":520,"y":620,"wires":[]},{"id":"e44c8973.1492e8","type":"link out","z":"24aab329.a0d324","name":"","links":["ae534d7a.bba95"],"x":580,"y":580,"wires":[]},{"id":"3f2b2e52.781ba2","type":"debug","z":"24aab329.a0d324","name":"Blockchain Asset response","active":true,"console":"false","complete":"true","x":940,"y":160,"wires":[]},{"id":"e05835b2.d9e828","type":"debug","z":"24aab329.a0d324","name":"Add Bicycle Asset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":120,"wires":[]},{"id":"b97ba68b.6aa838","type":"http request","z":"24aab329.a0d324","name":"hyperledger - Create Bicycle Asset","method":"POST","ret":"obj","url":"","tls":"","x":640,"y":160,"wires":[["3f2b2e52.781ba2"]]},{"id":"8201843c.bd7f9","type":"comment","z":"24aab329.a0d324","name":"One Time Setup to create the Blockchain Bicycle Shipment","info":"Remember to edit the Blockchain Model chaincode (logic.js) \nIn the setupDemo() function, insert your Particle Device ID\nas the Shipment ID","x":270,"y":100,"wires":[]},{"id":"92dccf1.dbc19b","type":"inject","z":"24aab329.a0d324","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":160,"wires":[["c06feddc.e111"]]},{"id":"c06feddc.e111","type":"function","z":"24aab329.a0d324","name":"Create Bicycle Shipment Asset","func":"// A Shipment Blockchain transaction looks like this:\n//      {\n//      \"$class\": \"org.acme.shipping.perishable.Shipment\",\n//      \"shipmentId\": \"34304\",\n//       \"type\": \"MEDICINE\",\n//       \"status\": \"IN_TRANSIT\",\n//       \"unitCount\": 100,\n//       \"contract\": \"resource:org.acme.shipping.perishable.Contract#CON_002\"\n//       }\n\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\nmsg.payload = {\n    \"$class\": \"org.acme.shipping.perishable.Shipment\",\n    \"shipmentId\": \"34304\",\n    \"type\": \"MEDICINE\",\n    \"status\": \"IN_TRANSIT\",\n    \"unitCount\": 100,\n    \"contract\": \"resource:org.acme.shipping.perishable.Contract#CON_002\"\n};\nShipmentMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\"/api/Shipment?data=\"+ShipmentMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["b97ba68b.6aa838","e05835b2.d9e828"]]},{"id":"cbaa65d.06e0d98","type":"template","z":"d82bdc0b.a6f31","name":"GPS_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n    <rtept lat=\"40.76792\" lon=\"-73.98118\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76805\" lon=\"-73.98053\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97972\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97916\"/>\n    <rtept lat=\"40.76789\" lon=\"-73.97885\"/>\n    <rtept lat=\"40.76817\" lon=\"-73.97841\"/>\n    <rtept lat=\"40.76823\" lon=\"-73.97811\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.97769\"/>\n    <rtept lat=\"40.76801\" lon=\"-73.97748\"/>\n    <rtept lat=\"40.76859\" lon=\"-73.97645\"/>\n    <rtept lat=\"40.7688\" lon=\"-73.97635\"/>\n    <rtept lat=\"40.76916\" lon=\"-73.97575\"/>\n    <rtept lat=\"40.76969\" lon=\"-73.97537\"/>\n    <rtept lat=\"40.76971\" lon=\"-73.97519\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97504\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97472\"/>\n    <rtept lat=\"40.76984\" lon=\"-73.97455\"/>\n    <rtept lat=\"40.76992\" lon=\"-73.97427\"/>\n    <rtept lat=\"40.76987\" lon=\"-73.97342\"/>\n    <rtept lat=\"40.76968\" lon=\"-73.97311\"/>\n    <rtept lat=\"40.76951\" lon=\"-73.97256\"/>\n    <rtept lat=\"40.76952\" lon=\"-73.97224\"/>\n    <rtept lat=\"40.7697\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77017\" lon=\"-73.97128\"/>\n    <rtept lat=\"40.77066\" lon=\"-73.97102\"/>\n    <rtept lat=\"40.77107\" lon=\"-73.97065\"/>\n    <rtept lat=\"40.77145\" lon=\"-73.96991\"/>\n    <rtept lat=\"40.77177\" lon=\"-73.96939\"/>\n    <rtept lat=\"40.77228\" lon=\"-73.96902\"/>\n    <rtept lat=\"40.77247\" lon=\"-73.96867\"/>\n    <rtept lat=\"40.77271\" lon=\"-73.96841\"/>\n    <rtept lat=\"40.77261\" lon=\"-73.96766\"/>\n    <rtept lat=\"40.77289\" lon=\"-73.9675\"/>\n    <rtept lat=\"40.77293\" lon=\"-73.96722\"/>\n    <rtept lat=\"40.77321\" lon=\"-73.96701\"/>\n    <rtept lat=\"40.77357\" lon=\"-73.96711\"/>\n    <rtept lat=\"40.77382\" lon=\"-73.96694\"/>\n    <rtept lat=\"40.77435\" lon=\"-73.96655\"/>\n    <rtept lat=\"40.77463\" lon=\"-73.96623\"/>\n    <rtept lat=\"40.7749\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.77538\" lon=\"-73.96565\"/>\n    <rtept lat=\"40.77578\" lon=\"-73.9655\"/>\n    <rtept lat=\"40.77626\" lon=\"-73.96527\"/>\n    <rtept lat=\"40.77648\" lon=\"-73.96511\"/>\n    <rtept lat=\"40.77688\" lon=\"-73.96467\"/>\n    <rtept lat=\"40.77696\" lon=\"-73.96415\"/>\n    <rtept lat=\"40.77705\" lon=\"-73.96386\"/>\n    <rtept lat=\"40.77771\" lon=\"-73.96332\"/>\n    <rtept lat=\"40.7777\" lon=\"-73.96309\"/>\n    <rtept lat=\"40.77832\" lon=\"-73.96264\"/>\n    <rtept lat=\"40.77896\" lon=\"-73.96219\"/>\n    <rtept lat=\"40.77959\" lon=\"-73.96172\"/>\n    <rtept lat=\"40.7802\" lon=\"-73.96154\"/>\n    <rtept lat=\"40.7808\" lon=\"-73.96201\"/>\n    <rtept lat=\"40.78132\" lon=\"-73.96248\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96262\"/>\n    <rtept lat=\"40.7809\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78125\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96098\"/>\n    <rtept lat=\"40.78156\" lon=\"-73.96086\"/>\n    <rtept lat=\"40.78205\" lon=\"-73.96036\"/>\n    <rtept lat=\"40.78312\" lon=\"-73.95958\"/>\n    <rtept lat=\"40.78367\" lon=\"-73.95918\"/>\n    <rtept lat=\"40.78413\" lon=\"-73.95895\"/>\n    <rtept lat=\"40.78636\" lon=\"-73.9574\"/>\n    <rtept lat=\"40.78735\" lon=\"-73.95707\"/>\n    <rtept lat=\"40.78839\" lon=\"-73.95692\"/>\n    <rtept lat=\"40.78891\" lon=\"-73.9571\"/>\n    <rtept lat=\"40.7894\" lon=\"-73.95744\"/>\n    <rtept lat=\"40.78973\" lon=\"-73.95741\"/>\n    <rtept lat=\"40.7898\" lon=\"-73.95752\"/>\n    <rtept lat=\"40.79011\" lon=\"-73.95769\"/>\n    <rtept lat=\"40.79043\" lon=\"-73.95843\"/>\n    <rtept lat=\"40.79066\" lon=\"-73.95857\"/>\n    <rtept lat=\"40.79124\" lon=\"-73.95834\"/>\n    <rtept lat=\"40.7916\" lon=\"-73.95828\"/>\n    <rtept lat=\"40.79206\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79232\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.79326\" lon=\"-73.95839\"/>\n    <rtept lat=\"40.79338\" lon=\"-73.95836\"/>\n    <rtept lat=\"40.79349\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.95808\"/>\n    <rtept lat=\"40.79397\" lon=\"-73.95814\"/>\n    <rtept lat=\"40.79419\" lon=\"-73.95801\"/>\n    <rtept lat=\"40.79432\" lon=\"-73.95799\"/>\n    <rtept lat=\"40.7944\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79442\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79452\" lon=\"-73.95821\"/>\n    <rtept lat=\"40.79461\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79474\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79503\" lon=\"-73.95768\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95706\"/>\n    <rtept lat=\"40.79562\" lon=\"-73.95694\"/>\n    <rtept lat=\"40.79584\" lon=\"-73.9569\"/>\n    <rtept lat=\"40.79609\" lon=\"-73.95672\"/>\n    <rtept lat=\"40.79641\" lon=\"-73.9566\"/>\n    <rtept lat=\"40.79651\" lon=\"-73.95674\"/>\n    <rtept lat=\"40.79688\" lon=\"-73.95681\"/>\n    <rtept lat=\"40.79725\" lon=\"-73.95699\"/>\n    <rtept lat=\"40.79774\" lon=\"-73.95698\"/>\n    <rtept lat=\"40.79816\" lon=\"-73.95742\"/>\n    <rtept lat=\"40.79826\" lon=\"-73.9573\"/>\n    <rtept lat=\"40.79839\" lon=\"-73.95762\"/>\n    <rtept lat=\"40.79867\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79902\" lon=\"-73.95785\"/>\n    <rtept lat=\"40.79916\" lon=\"-73.95774\"/>\n    <rtept lat=\"40.79884\" lon=\"-73.95791\"/>\n    <rtept lat=\"40.79879\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95846\"/>\n    <rtept lat=\"40.79874\" lon=\"-73.95861\"/>\n    <rtept lat=\"40.79857\" lon=\"-73.95865\"/>\n    <rtept lat=\"40.79799\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.7976\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79727\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79713\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79677\" lon=\"-73.95826\"/>\n    <rtept lat=\"40.79658\" lon=\"-73.9585\"/>\n    <rtept lat=\"40.79638\" lon=\"-73.95847\"/>\n    <rtept lat=\"40.79613\" lon=\"-73.95823\"/>\n    <rtept lat=\"40.79593\" lon=\"-73.95838\"/>\n    <rtept lat=\"40.79589\" lon=\"-73.9588\"/>\n    <rtept lat=\"40.79571\" lon=\"-73.9589\"/>\n    <rtept lat=\"40.79548\" lon=\"-73.95906\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95939\"/>\n    <rtept lat=\"40.79516\" lon=\"-73.95955\"/>\n    <rtept lat=\"40.79497\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79478\" lon=\"-73.95963\"/>\n    <rtept lat=\"40.79459\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79438\" lon=\"-73.95973\"/>\n    <rtept lat=\"40.79401\" lon=\"-73.96011\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.96089\"/>\n    <rtept lat=\"40.79339\" lon=\"-73.96146\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.96193\"/>\n    <rtept lat=\"40.79197\" lon=\"-73.9624\"/>\n    <rtept lat=\"40.79165\" lon=\"-73.96257\"/>\n    <rtept lat=\"40.79138\" lon=\"-73.96279\"/>\n    <rtept lat=\"40.79089\" lon=\"-73.96356\"/>\n    <rtept lat=\"40.79058\" lon=\"-73.96403\"/>\n    <rtept lat=\"40.78999\" lon=\"-73.96422\"/>\n    <rtept lat=\"40.78939\" lon=\"-73.96419\"/>\n    <rtept lat=\"40.78899\" lon=\"-73.96445\"/>\n    <rtept lat=\"40.78846\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.78823\" lon=\"-73.96626\"/>\n    <rtept lat=\"40.78791\" lon=\"-73.9667\"/>\n    <rtept lat=\"40.7877\" lon=\"-73.96704\"/>\n    <rtept lat=\"40.78713\" lon=\"-73.96749\"/>\n    <rtept lat=\"40.78608\" lon=\"-73.96779\"/>\n    <rtept lat=\"40.78541\" lon=\"-73.96858\"/>\n    <rtept lat=\"40.78539\" lon=\"-73.96903\"/>\n    <rtept lat=\"40.78522\" lon=\"-73.96919\"/>\n    <rtept lat=\"40.78505\" lon=\"-73.96874\"/>\n    <rtept lat=\"40.78471\" lon=\"-73.96762\"/>\n    <rtept lat=\"40.78484\" lon=\"-73.96791\"/>\n    <rtept lat=\"40.78508\" lon=\"-73.96884\"/>\n    <rtept lat=\"40.7853\" lon=\"-73.96935\"/>\n    <rtept lat=\"40.78447\" lon=\"-73.96954\"/>\n    <rtept lat=\"40.78406\" lon=\"-73.96918\"/>\n    <rtept lat=\"40.78355\" lon=\"-73.96913\"/>\n    <rtept lat=\"40.78285\" lon=\"-73.9693\"/>\n    <rtept lat=\"40.7825\" lon=\"-73.96942\"/>\n    <rtept lat=\"40.78195\" lon=\"-73.96943\"/>\n    <rtept lat=\"40.78153\" lon=\"-73.9694\"/>\n    <rtept lat=\"40.78088\" lon=\"-73.96975\"/>\n    <rtept lat=\"40.78044\" lon=\"-73.97033\"/>\n    <rtept lat=\"40.77985\" lon=\"-73.97117\"/>\n    <rtept lat=\"40.77914\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77856\" lon=\"-73.97266\"/>\n    <rtept lat=\"40.77829\" lon=\"-73.97313\"/>\n    <rtept lat=\"40.77797\" lon=\"-73.97357\"/>\n    <rtept lat=\"40.77736\" lon=\"-73.97404\"/>\n    <rtept lat=\"40.77689\" lon=\"-73.97408\"/>\n    <rtept lat=\"40.77535\" lon=\"-73.97396\"/>\n    <rtept lat=\"40.77485\" lon=\"-73.97432\"/>\n    <rtept lat=\"40.77471\" lon=\"-73.97459\"/>\n    <rtept lat=\"40.77455\" lon=\"-73.97532\"/>\n    <rtept lat=\"40.77429\" lon=\"-73.97564\"/>\n    <rtept lat=\"40.77327\" lon=\"-73.9763\"/>\n    <rtept lat=\"40.7727\" lon=\"-73.97656\"/>\n    <rtept lat=\"40.77189\" lon=\"-73.97699\"/>\n    <rtept lat=\"40.77156\" lon=\"-73.9773\"/>\n    <rtept lat=\"40.77091\" lon=\"-73.97824\"/>\n    <rtept lat=\"40.77049\" lon=\"-73.97878\"/>\n    <rtept lat=\"40.77012\" lon=\"-73.97919\"/>\n    <rtept lat=\"40.76943\" lon=\"-73.97976\"/>\n    <rtept lat=\"40.7691\" lon=\"-73.9799\"/>\n    <rtept lat=\"40.7689\" lon=\"-73.97996\"/>\n    <rtept lat=\"40.76876\" lon=\"-73.97991\"/>\n    <rtept lat=\"40.76872\" lon=\"-73.98033\"/>\n    <rtept lat=\"40.76837\" lon=\"-73.9813\"/>\n    <rtept lat=\"40.76813\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76798\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76781\" lon=\"-73.98124\"/>\n  </rte>\n</gpx>","output":"str","x":380,"y":891,"wires":[["80fa48b9.0b37b8"]]},{"id":"80fa48b9.0b37b8","type":"function","z":"d82bdc0b.a6f31","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":831,"wires":[["b8372014.d29e2"]]},{"id":"c50a7e01.4dfc7","type":"inject","z":"d82bdc0b.a6f31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":831,"wires":[["cbaa65d.06e0d98"]]},{"id":"9c77e1a.393f12","type":"delay","z":"d82bdc0b.a6f31","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":831,"wires":[["9746f4a9.db59a8"]]},{"id":"b8372014.d29e2","type":"csv","z":"d82bdc0b.a6f31","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":810,"y":811,"wires":[["9c77e1a.393f12"]]},{"id":"9746f4a9.db59a8","type":"function","z":"d82bdc0b.a6f31","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":831,"wires":[["fbbfc41c.10e488"]]},{"id":"6a37fa22.2fe134","type":"function","z":"d82bdc0b.a6f31","name":"Boom_Angle","func":"\nmsg.payload = {\n    \"boom_angle\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":720,"wires":[["fbbfc41c.10e488","35d454fd.41f03c"]]},{"id":"2f3cef32.7b44c","type":"OpcUa-Item","z":"d82bdc0b.a6f31","item":"ns=3;i=1044","datatype":"Double","value":"","name":"BP_Boom_Angle","x":390,"y":700,"wires":[["96d741a8.22153"]]},{"id":"96d741a8.22153","type":"OpcUa-Client","z":"d82bdc0b.a6f31","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS","x":600,"y":720,"wires":[["6a37fa22.2fe134"]]},{"id":"389afd03.a98382","type":"inject","z":"d82bdc0b.a6f31","name":"Boom_Angle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":700,"wires":[["2f3cef32.7b44c"]]},{"id":"35d454fd.41f03c","type":"debug","z":"d82bdc0b.a6f31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":720,"wires":[]},{"id":"66b1f578.e319fc","type":"inject","z":"8a583297.042cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["7befd3d1.278b0c"]]},{"id":"7befd3d1.278b0c","type":"OpcUa-Item","z":"8a583297.042cc","item":"ns=3;i=1031","datatype":"Double","value":"","name":"Wheel_Loader_Coolant_Temperature","x":450,"y":180,"wires":[["f994c4c0.425a38"]]},{"id":"e550c070.595e3","type":"debug","z":"8a583297.042cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":120,"wires":[]},{"id":"f994c4c0.425a38","type":"OpcUa-Client","z":"8a583297.042cc","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":770,"y":180,"wires":[["e550c070.595e3"]]},{"id":"506f78a9.858208","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":540,"y":140,"wires":[["f3260910.0bee18"]]},{"id":"f8e4588b.4fdbe8","type":"inject","z":"3db2dd36.97c742","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":85,"y":142,"wires":[["7c6771aa.5ba47","4cb6ff91.1e72d","ab695b94.afb928","d77ecf13.abd5f","1a53ccd0.15eda3","e28c845f.8f1638","dcd0afca.32e2c","fecc7b90.c84dd8"]]},{"id":"7c6771aa.5ba47","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1012","datatype":"Double","value":"","name":"FD_FAN_SPEED","x":305,"y":143,"wires":[["506f78a9.858208"]]},{"id":"4cb6ff91.1e72d","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1013","datatype":"Boolean","value":"","name":"FD_FAN_RUNNING_STATUS","x":340,"y":241,"wires":[["2c828839.79ba68"]]},{"id":"2c828839.79ba68","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":607,"y":240,"wires":[["8eeddbbd.4a2b28"]]},{"id":"4dc6725c.96a54c","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":627,"y":341,"wires":[["d95f9d7.67b0c6"]]},{"id":"ab695b94.afb928","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1018","datatype":"Double","value":"","name":"FURNACE_PRESSURE","x":340,"y":348,"wires":[["4dc6725c.96a54c"]]},{"id":"d95f9d7.67b0c6","type":"function","z":"3db2dd36.97c742","name":"FURNACE_PRESSURE","func":"msg.payload = {\n    \"name\": \"Boiler_Furanace_Pressure\",\n    \"pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":320,"wires":[["eb90f387.48f3d"]]},{"id":"532ab3ec.595aec","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":634,"y":477,"wires":[["a3a77650.42e9d8"]]},{"id":"d77ecf13.abd5f","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1017","datatype":"Double","value":"","name":"FURNACE_TEMPERATURE","x":354,"y":452,"wires":[["532ab3ec.595aec"]]},{"id":"a3a77650.42e9d8","type":"function","z":"3db2dd36.97c742","name":"FURNACE_TEMPERATURE","func":"msg.payload={\n    \"name\":\"Boiler_Furnace_Temperature\",\n    \"temperature\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":460,"wires":[["eb90f387.48f3d"]]},{"id":"f3260910.0bee18","type":"function","z":"3db2dd36.97c742","name":"FD_FAN_SPEED","func":"msg.payload = {\n    \"name\": \"FD_FAN_SPEED\",\n    \"speed\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":120,"wires":[["eb90f387.48f3d"]]},{"id":"8eeddbbd.4a2b28","type":"function","z":"3db2dd36.97c742","name":"FD_FAN_RUNNING_STATUS","func":"msg.payload = {\n    \"name\": \"FD_FAN_RUNNING_STATUS\",\n    \"pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":220,"wires":[["eb90f387.48f3d"]]},{"id":"1a53ccd0.15eda3","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1015","datatype":"Double","value":"","name":"STEAM_DRUM_LEVEL","x":344,"y":545,"wires":[["9a7fc21d.e8bea"]]},{"id":"9a7fc21d.e8bea","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":614,"y":565,"wires":[["574bf1af.7832a"]]},{"id":"574bf1af.7832a","type":"function","z":"3db2dd36.97c742","name":"STEAM_DRUM_LEVEL","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_DRUM_Level\",\n    \"level\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":560,"wires":[["eb90f387.48f3d"]]},{"id":"e28c845f.8f1638","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1022","datatype":"Double","value":"","name":"STEAM_HEADER_FLOW","x":364,"y":645,"wires":[["23b89b2d.dbaf64"]]},{"id":"23b89b2d.dbaf64","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":634,"y":665,"wires":[["1a6ff1b7.9cacae"]]},{"id":"1a6ff1b7.9cacae","type":"function","z":"3db2dd36.97c742","name":"STEAM_HEADER_FLOW","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_HEADER_Flow\",\n    \"flow\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":660,"wires":[["eb90f387.48f3d"]]},{"id":"dcd0afca.32e2c","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1020","datatype":"Double","value":"","name":"STEAM_HEADER_PRESSURE","x":384,"y":725,"wires":[["c710ba03.97fd68"]]},{"id":"c710ba03.97fd68","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":634,"y":745,"wires":[["f1bf57d5.0ce038"]]},{"id":"f1bf57d5.0ce038","type":"function","z":"3db2dd36.97c742","name":"STEAM_HEADER_PRESSURE","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_HEADER_Pressure\",\n    \"pressure\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":740,"wires":[["eb90f387.48f3d"]]},{"id":"fecc7b90.c84dd8","type":"OpcUa-Item","z":"3db2dd36.97c742","item":"ns=3;i=1020","datatype":"Double","value":"","name":"STEAM_HEADER_TEMPERATURE","x":394,"y":805,"wires":[["64d596d7.e8a488"]]},{"id":"64d596d7.e8a488","type":"OpcUa-Client","z":"3db2dd36.97c742","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":634,"y":825,"wires":[["8f6f762b.5e3d78"]]},{"id":"8f6f762b.5e3d78","type":"function","z":"3db2dd36.97c742","name":"STEAM_HEADER_TEMPERATURE","func":"msg.payload={\n    \"name\":\"Boiler_STEAM_HEADER_Temperature\",\n    \"temperature\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":934,"y":825,"wires":[["eb90f387.48f3d"]]},{"id":"eb90f387.48f3d","type":"http request","z":"3db2dd36.97c742","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://host.docker.internal:8080/api/v1/XsQYE4iAdJ23Pn9HSPUn/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":440,"wires":[[]]},{"id":"3b86bab7.e06086","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Coolant_Temp","func":"\nmsg.payload = {\n    \"coolant_temp\": msg.payload,\n    \"name\":\"Wheel_Loader-1\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":160,"wires":[["a7eb2949.9c1248"]]},{"id":"9da83bdb.bc0ae8","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1031","datatype":"Double","value":"","name":"WL-Coolant-Temp","x":1050,"y":140,"wires":[["30e5ede5.ef82a2"]]},{"id":"4c5232ee.83264c","type":"inject","z":"a288699b.8838c8","name":"RubikX-CAN-Edge-Wheel-Loader-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":220,"wires":[["9da83bdb.bc0ae8","df898374.f030c","b636f7fd.df8ab8","3aebff2b.61329"]]},{"id":"6e472c0.16b1ed4","type":"template","z":"a288699b.8838c8","name":"GPS_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n    <rtept lat=\"40.76792\" lon=\"-73.98118\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76805\" lon=\"-73.98053\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97972\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97916\"/>\n    <rtept lat=\"40.76789\" lon=\"-73.97885\"/>\n    <rtept lat=\"40.76817\" lon=\"-73.97841\"/>\n    <rtept lat=\"40.76823\" lon=\"-73.97811\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.97769\"/>\n    <rtept lat=\"40.76801\" lon=\"-73.97748\"/>\n    <rtept lat=\"40.76859\" lon=\"-73.97645\"/>\n    <rtept lat=\"40.7688\" lon=\"-73.97635\"/>\n    <rtept lat=\"40.76916\" lon=\"-73.97575\"/>\n    <rtept lat=\"40.76969\" lon=\"-73.97537\"/>\n    <rtept lat=\"40.76971\" lon=\"-73.97519\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97504\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97472\"/>\n    <rtept lat=\"40.76984\" lon=\"-73.97455\"/>\n    <rtept lat=\"40.76992\" lon=\"-73.97427\"/>\n    <rtept lat=\"40.76987\" lon=\"-73.97342\"/>\n    <rtept lat=\"40.76968\" lon=\"-73.97311\"/>\n    <rtept lat=\"40.76951\" lon=\"-73.97256\"/>\n    <rtept lat=\"40.76952\" lon=\"-73.97224\"/>\n    <rtept lat=\"40.7697\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77017\" lon=\"-73.97128\"/>\n    <rtept lat=\"40.77066\" lon=\"-73.97102\"/>\n    <rtept lat=\"40.77107\" lon=\"-73.97065\"/>\n    <rtept lat=\"40.77145\" lon=\"-73.96991\"/>\n    <rtept lat=\"40.77177\" lon=\"-73.96939\"/>\n    <rtept lat=\"40.77228\" lon=\"-73.96902\"/>\n    <rtept lat=\"40.77247\" lon=\"-73.96867\"/>\n    <rtept lat=\"40.77271\" lon=\"-73.96841\"/>\n    <rtept lat=\"40.77261\" lon=\"-73.96766\"/>\n    <rtept lat=\"40.77289\" lon=\"-73.9675\"/>\n    <rtept lat=\"40.77293\" lon=\"-73.96722\"/>\n    <rtept lat=\"40.77321\" lon=\"-73.96701\"/>\n    <rtept lat=\"40.77357\" lon=\"-73.96711\"/>\n    <rtept lat=\"40.77382\" lon=\"-73.96694\"/>\n    <rtept lat=\"40.77435\" lon=\"-73.96655\"/>\n    <rtept lat=\"40.77463\" lon=\"-73.96623\"/>\n    <rtept lat=\"40.7749\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.77538\" lon=\"-73.96565\"/>\n    <rtept lat=\"40.77578\" lon=\"-73.9655\"/>\n    <rtept lat=\"40.77626\" lon=\"-73.96527\"/>\n    <rtept lat=\"40.77648\" lon=\"-73.96511\"/>\n    <rtept lat=\"40.77688\" lon=\"-73.96467\"/>\n    <rtept lat=\"40.77696\" lon=\"-73.96415\"/>\n    <rtept lat=\"40.77705\" lon=\"-73.96386\"/>\n    <rtept lat=\"40.77771\" lon=\"-73.96332\"/>\n    <rtept lat=\"40.7777\" lon=\"-73.96309\"/>\n    <rtept lat=\"40.77832\" lon=\"-73.96264\"/>\n    <rtept lat=\"40.77896\" lon=\"-73.96219\"/>\n    <rtept lat=\"40.77959\" lon=\"-73.96172\"/>\n    <rtept lat=\"40.7802\" lon=\"-73.96154\"/>\n    <rtept lat=\"40.7808\" lon=\"-73.96201\"/>\n    <rtept lat=\"40.78132\" lon=\"-73.96248\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96262\"/>\n    <rtept lat=\"40.7809\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78125\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96098\"/>\n    <rtept lat=\"40.78156\" lon=\"-73.96086\"/>\n    <rtept lat=\"40.78205\" lon=\"-73.96036\"/>\n    <rtept lat=\"40.78312\" lon=\"-73.95958\"/>\n    <rtept lat=\"40.78367\" lon=\"-73.95918\"/>\n    <rtept lat=\"40.78413\" lon=\"-73.95895\"/>\n    <rtept lat=\"40.78636\" lon=\"-73.9574\"/>\n    <rtept lat=\"40.78735\" lon=\"-73.95707\"/>\n    <rtept lat=\"40.78839\" lon=\"-73.95692\"/>\n    <rtept lat=\"40.78891\" lon=\"-73.9571\"/>\n    <rtept lat=\"40.7894\" lon=\"-73.95744\"/>\n    <rtept lat=\"40.78973\" lon=\"-73.95741\"/>\n    <rtept lat=\"40.7898\" lon=\"-73.95752\"/>\n    <rtept lat=\"40.79011\" lon=\"-73.95769\"/>\n    <rtept lat=\"40.79043\" lon=\"-73.95843\"/>\n    <rtept lat=\"40.79066\" lon=\"-73.95857\"/>\n    <rtept lat=\"40.79124\" lon=\"-73.95834\"/>\n    <rtept lat=\"40.7916\" lon=\"-73.95828\"/>\n    <rtept lat=\"40.79206\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79232\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.79326\" lon=\"-73.95839\"/>\n    <rtept lat=\"40.79338\" lon=\"-73.95836\"/>\n    <rtept lat=\"40.79349\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.95808\"/>\n    <rtept lat=\"40.79397\" lon=\"-73.95814\"/>\n    <rtept lat=\"40.79419\" lon=\"-73.95801\"/>\n    <rtept lat=\"40.79432\" lon=\"-73.95799\"/>\n    <rtept lat=\"40.7944\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79442\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79452\" lon=\"-73.95821\"/>\n    <rtept lat=\"40.79461\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79474\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79503\" lon=\"-73.95768\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95706\"/>\n    <rtept lat=\"40.79562\" lon=\"-73.95694\"/>\n    <rtept lat=\"40.79584\" lon=\"-73.9569\"/>\n    <rtept lat=\"40.79609\" lon=\"-73.95672\"/>\n    <rtept lat=\"40.79641\" lon=\"-73.9566\"/>\n    <rtept lat=\"40.79651\" lon=\"-73.95674\"/>\n    <rtept lat=\"40.79688\" lon=\"-73.95681\"/>\n    <rtept lat=\"40.79725\" lon=\"-73.95699\"/>\n    <rtept lat=\"40.79774\" lon=\"-73.95698\"/>\n    <rtept lat=\"40.79816\" lon=\"-73.95742\"/>\n    <rtept lat=\"40.79826\" lon=\"-73.9573\"/>\n    <rtept lat=\"40.79839\" lon=\"-73.95762\"/>\n    <rtept lat=\"40.79867\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79902\" lon=\"-73.95785\"/>\n    <rtept lat=\"40.79916\" lon=\"-73.95774\"/>\n    <rtept lat=\"40.79884\" lon=\"-73.95791\"/>\n    <rtept lat=\"40.79879\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95846\"/>\n    <rtept lat=\"40.79874\" lon=\"-73.95861\"/>\n    <rtept lat=\"40.79857\" lon=\"-73.95865\"/>\n    <rtept lat=\"40.79799\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.7976\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79727\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79713\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79677\" lon=\"-73.95826\"/>\n    <rtept lat=\"40.79658\" lon=\"-73.9585\"/>\n    <rtept lat=\"40.79638\" lon=\"-73.95847\"/>\n    <rtept lat=\"40.79613\" lon=\"-73.95823\"/>\n    <rtept lat=\"40.79593\" lon=\"-73.95838\"/>\n    <rtept lat=\"40.79589\" lon=\"-73.9588\"/>\n    <rtept lat=\"40.79571\" lon=\"-73.9589\"/>\n    <rtept lat=\"40.79548\" lon=\"-73.95906\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95939\"/>\n    <rtept lat=\"40.79516\" lon=\"-73.95955\"/>\n    <rtept lat=\"40.79497\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79478\" lon=\"-73.95963\"/>\n    <rtept lat=\"40.79459\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79438\" lon=\"-73.95973\"/>\n    <rtept lat=\"40.79401\" lon=\"-73.96011\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.96089\"/>\n    <rtept lat=\"40.79339\" lon=\"-73.96146\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.96193\"/>\n    <rtept lat=\"40.79197\" lon=\"-73.9624\"/>\n    <rtept lat=\"40.79165\" lon=\"-73.96257\"/>\n    <rtept lat=\"40.79138\" lon=\"-73.96279\"/>\n    <rtept lat=\"40.79089\" lon=\"-73.96356\"/>\n    <rtept lat=\"40.79058\" lon=\"-73.96403\"/>\n    <rtept lat=\"40.78999\" lon=\"-73.96422\"/>\n    <rtept lat=\"40.78939\" lon=\"-73.96419\"/>\n    <rtept lat=\"40.78899\" lon=\"-73.96445\"/>\n    <rtept lat=\"40.78846\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.78823\" lon=\"-73.96626\"/>\n    <rtept lat=\"40.78791\" lon=\"-73.9667\"/>\n    <rtept lat=\"40.7877\" lon=\"-73.96704\"/>\n    <rtept lat=\"40.78713\" lon=\"-73.96749\"/>\n    <rtept lat=\"40.78608\" lon=\"-73.96779\"/>\n    <rtept lat=\"40.78541\" lon=\"-73.96858\"/>\n    <rtept lat=\"40.78539\" lon=\"-73.96903\"/>\n    <rtept lat=\"40.78522\" lon=\"-73.96919\"/>\n    <rtept lat=\"40.78505\" lon=\"-73.96874\"/>\n    <rtept lat=\"40.78471\" lon=\"-73.96762\"/>\n    <rtept lat=\"40.78484\" lon=\"-73.96791\"/>\n    <rtept lat=\"40.78508\" lon=\"-73.96884\"/>\n    <rtept lat=\"40.7853\" lon=\"-73.96935\"/>\n    <rtept lat=\"40.78447\" lon=\"-73.96954\"/>\n    <rtept lat=\"40.78406\" lon=\"-73.96918\"/>\n    <rtept lat=\"40.78355\" lon=\"-73.96913\"/>\n    <rtept lat=\"40.78285\" lon=\"-73.9693\"/>\n    <rtept lat=\"40.7825\" lon=\"-73.96942\"/>\n    <rtept lat=\"40.78195\" lon=\"-73.96943\"/>\n    <rtept lat=\"40.78153\" lon=\"-73.9694\"/>\n    <rtept lat=\"40.78088\" lon=\"-73.96975\"/>\n    <rtept lat=\"40.78044\" lon=\"-73.97033\"/>\n    <rtept lat=\"40.77985\" lon=\"-73.97117\"/>\n    <rtept lat=\"40.77914\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77856\" lon=\"-73.97266\"/>\n    <rtept lat=\"40.77829\" lon=\"-73.97313\"/>\n    <rtept lat=\"40.77797\" lon=\"-73.97357\"/>\n    <rtept lat=\"40.77736\" lon=\"-73.97404\"/>\n    <rtept lat=\"40.77689\" lon=\"-73.97408\"/>\n    <rtept lat=\"40.77535\" lon=\"-73.97396\"/>\n    <rtept lat=\"40.77485\" lon=\"-73.97432\"/>\n    <rtept lat=\"40.77471\" lon=\"-73.97459\"/>\n    <rtept lat=\"40.77455\" lon=\"-73.97532\"/>\n    <rtept lat=\"40.77429\" lon=\"-73.97564\"/>\n    <rtept lat=\"40.77327\" lon=\"-73.9763\"/>\n    <rtept lat=\"40.7727\" lon=\"-73.97656\"/>\n    <rtept lat=\"40.77189\" lon=\"-73.97699\"/>\n    <rtept lat=\"40.77156\" lon=\"-73.9773\"/>\n    <rtept lat=\"40.77091\" lon=\"-73.97824\"/>\n    <rtept lat=\"40.77049\" lon=\"-73.97878\"/>\n    <rtept lat=\"40.77012\" lon=\"-73.97919\"/>\n    <rtept lat=\"40.76943\" lon=\"-73.97976\"/>\n    <rtept lat=\"40.7691\" lon=\"-73.9799\"/>\n    <rtept lat=\"40.7689\" lon=\"-73.97996\"/>\n    <rtept lat=\"40.76876\" lon=\"-73.97991\"/>\n    <rtept lat=\"40.76872\" lon=\"-73.98033\"/>\n    <rtept lat=\"40.76837\" lon=\"-73.9813\"/>\n    <rtept lat=\"40.76813\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76798\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76781\" lon=\"-73.98124\"/>\n  </rte>\n</gpx>","output":"str","x":940,"y":640,"wires":[["f3a4d092.101c9"]]},{"id":"f3a4d092.101c9","type":"function","z":"a288699b.8838c8","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":640,"wires":[["34205852.8bf518"]]},{"id":"56ffc548.273c1c","type":"inject","z":"a288699b.8838c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":640,"wires":[["6e472c0.16b1ed4"]]},{"id":"4a3f99df.7f7dc8","type":"delay","z":"a288699b.8838c8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":640,"wires":[["69f02f1.fb59ed"]]},{"id":"34205852.8bf518","type":"csv","z":"a288699b.8838c8","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":640,"wires":[["4a3f99df.7f7dc8"]]},{"id":"69f02f1.fb59ed","type":"function","z":"a288699b.8838c8","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1760,"y":640,"wires":[["a7eb2949.9c1248"]]},{"id":"30e5ede5.ef82a2","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1250,"y":140,"wires":[["3b86bab7.e06086"]]},{"id":"df898374.f030c","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1030","datatype":"Double","value":"","name":"WL-Engine-Oil-Pressure","x":1050,"y":280,"wires":[["f5b60442.1caab8"]]},{"id":"f5b60442.1caab8","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1250,"y":280,"wires":[["7c908a7d.5d1bc4"]]},{"id":"7c908a7d.5d1bc4","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Engine_Oil_Pressure","func":"\nmsg.payload = {\n    \"engine_oil_pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":280,"wires":[["a7eb2949.9c1248"]]},{"id":"20d51001.b40d","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Fuel_Level","func":"\nmsg.payload = {\n    \"fuel_level\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":380,"wires":[["a7eb2949.9c1248"]]},{"id":"68292345.2d522c","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1250,"y":380,"wires":[["20d51001.b40d"]]},{"id":"b636f7fd.df8ab8","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1032","datatype":"Double","value":"","name":"WL-Fuel-Level","x":1020,"y":380,"wires":[["68292345.2d522c"]]},{"id":"3aebff2b.61329","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1028","datatype":"Double","value":"","name":"WL-Hydraulic-Oil-Pressure","x":1060,"y":480,"wires":[["5f9662ac.0645bc"]]},{"id":"5f9662ac.0645bc","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1250,"y":480,"wires":[["903219c2.ad3ba8"]]},{"id":"903219c2.ad3ba8","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Hydraulic_Oil_Pressure","func":"\nmsg.payload = {\n    \"hydraulic_oil_pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":480,"wires":[["a7eb2949.9c1248"]]},{"id":"aef6402.23c09c","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Coolant_Temp","func":"\nmsg.payload = {\n    \"coolant_temp\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":780,"wires":[["aa211fdc.d419e"]]},{"id":"647ef5f1.6b3ecc","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1054","datatype":"Double","value":"","name":"WL-Coolant-Temp","x":1090,"y":760,"wires":[["dacbc0fb.b5c43"]]},{"id":"175c96f4.830409","type":"inject","z":"a288699b.8838c8","name":"RubikX-CAN-Edge-Wheel-Loader-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":840,"wires":[["647ef5f1.6b3ecc","24fb602.a0b99a","f321c8f9.ee3578","1ee7e7e0.8d0118"]]},{"id":"f94a0314.d769","type":"template","z":"a288699b.8838c8","name":"GPS_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n    <rtept lat=\"40.76792\" lon=\"-73.98118\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76805\" lon=\"-73.98053\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97972\"/>\n    <rtept lat=\"40.76777\" lon=\"-73.97916\"/>\n    <rtept lat=\"40.76789\" lon=\"-73.97885\"/>\n    <rtept lat=\"40.76817\" lon=\"-73.97841\"/>\n    <rtept lat=\"40.76823\" lon=\"-73.97811\"/>\n    <rtept lat=\"40.76809\" lon=\"-73.97769\"/>\n    <rtept lat=\"40.76801\" lon=\"-73.97748\"/>\n    <rtept lat=\"40.76859\" lon=\"-73.97645\"/>\n    <rtept lat=\"40.7688\" lon=\"-73.97635\"/>\n    <rtept lat=\"40.76916\" lon=\"-73.97575\"/>\n    <rtept lat=\"40.76969\" lon=\"-73.97537\"/>\n    <rtept lat=\"40.76971\" lon=\"-73.97519\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97504\"/>\n    <rtept lat=\"40.76978\" lon=\"-73.97472\"/>\n    <rtept lat=\"40.76984\" lon=\"-73.97455\"/>\n    <rtept lat=\"40.76992\" lon=\"-73.97427\"/>\n    <rtept lat=\"40.76987\" lon=\"-73.97342\"/>\n    <rtept lat=\"40.76968\" lon=\"-73.97311\"/>\n    <rtept lat=\"40.76951\" lon=\"-73.97256\"/>\n    <rtept lat=\"40.76952\" lon=\"-73.97224\"/>\n    <rtept lat=\"40.7697\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77017\" lon=\"-73.97128\"/>\n    <rtept lat=\"40.77066\" lon=\"-73.97102\"/>\n    <rtept lat=\"40.77107\" lon=\"-73.97065\"/>\n    <rtept lat=\"40.77145\" lon=\"-73.96991\"/>\n    <rtept lat=\"40.77177\" lon=\"-73.96939\"/>\n    <rtept lat=\"40.77228\" lon=\"-73.96902\"/>\n    <rtept lat=\"40.77247\" lon=\"-73.96867\"/>\n    <rtept lat=\"40.77271\" lon=\"-73.96841\"/>\n    <rtept lat=\"40.77261\" lon=\"-73.96766\"/>\n    <rtept lat=\"40.77289\" lon=\"-73.9675\"/>\n    <rtept lat=\"40.77293\" lon=\"-73.96722\"/>\n    <rtept lat=\"40.77321\" lon=\"-73.96701\"/>\n    <rtept lat=\"40.77357\" lon=\"-73.96711\"/>\n    <rtept lat=\"40.77382\" lon=\"-73.96694\"/>\n    <rtept lat=\"40.77435\" lon=\"-73.96655\"/>\n    <rtept lat=\"40.77463\" lon=\"-73.96623\"/>\n    <rtept lat=\"40.7749\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.77538\" lon=\"-73.96565\"/>\n    <rtept lat=\"40.77578\" lon=\"-73.9655\"/>\n    <rtept lat=\"40.77626\" lon=\"-73.96527\"/>\n    <rtept lat=\"40.77648\" lon=\"-73.96511\"/>\n    <rtept lat=\"40.77688\" lon=\"-73.96467\"/>\n    <rtept lat=\"40.77696\" lon=\"-73.96415\"/>\n    <rtept lat=\"40.77705\" lon=\"-73.96386\"/>\n    <rtept lat=\"40.77771\" lon=\"-73.96332\"/>\n    <rtept lat=\"40.7777\" lon=\"-73.96309\"/>\n    <rtept lat=\"40.77832\" lon=\"-73.96264\"/>\n    <rtept lat=\"40.77896\" lon=\"-73.96219\"/>\n    <rtept lat=\"40.77959\" lon=\"-73.96172\"/>\n    <rtept lat=\"40.7802\" lon=\"-73.96154\"/>\n    <rtept lat=\"40.7808\" lon=\"-73.96201\"/>\n    <rtept lat=\"40.78132\" lon=\"-73.96248\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96262\"/>\n    <rtept lat=\"40.7809\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78125\" lon=\"-73.96104\"/>\n    <rtept lat=\"40.78146\" lon=\"-73.96098\"/>\n    <rtept lat=\"40.78156\" lon=\"-73.96086\"/>\n    <rtept lat=\"40.78205\" lon=\"-73.96036\"/>\n    <rtept lat=\"40.78312\" lon=\"-73.95958\"/>\n    <rtept lat=\"40.78367\" lon=\"-73.95918\"/>\n    <rtept lat=\"40.78413\" lon=\"-73.95895\"/>\n    <rtept lat=\"40.78636\" lon=\"-73.9574\"/>\n    <rtept lat=\"40.78735\" lon=\"-73.95707\"/>\n    <rtept lat=\"40.78839\" lon=\"-73.95692\"/>\n    <rtept lat=\"40.78891\" lon=\"-73.9571\"/>\n    <rtept lat=\"40.7894\" lon=\"-73.95744\"/>\n    <rtept lat=\"40.78973\" lon=\"-73.95741\"/>\n    <rtept lat=\"40.7898\" lon=\"-73.95752\"/>\n    <rtept lat=\"40.79011\" lon=\"-73.95769\"/>\n    <rtept lat=\"40.79043\" lon=\"-73.95843\"/>\n    <rtept lat=\"40.79066\" lon=\"-73.95857\"/>\n    <rtept lat=\"40.79124\" lon=\"-73.95834\"/>\n    <rtept lat=\"40.7916\" lon=\"-73.95828\"/>\n    <rtept lat=\"40.79206\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79232\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.79326\" lon=\"-73.95839\"/>\n    <rtept lat=\"40.79338\" lon=\"-73.95836\"/>\n    <rtept lat=\"40.79349\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.95808\"/>\n    <rtept lat=\"40.79397\" lon=\"-73.95814\"/>\n    <rtept lat=\"40.79419\" lon=\"-73.95801\"/>\n    <rtept lat=\"40.79432\" lon=\"-73.95799\"/>\n    <rtept lat=\"40.7944\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79442\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79452\" lon=\"-73.95821\"/>\n    <rtept lat=\"40.79461\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79474\" lon=\"-73.95827\"/>\n    <rtept lat=\"40.79503\" lon=\"-73.95768\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95706\"/>\n    <rtept lat=\"40.79562\" lon=\"-73.95694\"/>\n    <rtept lat=\"40.79584\" lon=\"-73.9569\"/>\n    <rtept lat=\"40.79609\" lon=\"-73.95672\"/>\n    <rtept lat=\"40.79641\" lon=\"-73.9566\"/>\n    <rtept lat=\"40.79651\" lon=\"-73.95674\"/>\n    <rtept lat=\"40.79688\" lon=\"-73.95681\"/>\n    <rtept lat=\"40.79725\" lon=\"-73.95699\"/>\n    <rtept lat=\"40.79774\" lon=\"-73.95698\"/>\n    <rtept lat=\"40.79816\" lon=\"-73.95742\"/>\n    <rtept lat=\"40.79826\" lon=\"-73.9573\"/>\n    <rtept lat=\"40.79839\" lon=\"-73.95762\"/>\n    <rtept lat=\"40.79867\" lon=\"-73.95812\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95805\"/>\n    <rtept lat=\"40.79902\" lon=\"-73.95785\"/>\n    <rtept lat=\"40.79916\" lon=\"-73.95774\"/>\n    <rtept lat=\"40.79884\" lon=\"-73.95791\"/>\n    <rtept lat=\"40.79879\" lon=\"-73.95811\"/>\n    <rtept lat=\"40.79878\" lon=\"-73.95846\"/>\n    <rtept lat=\"40.79874\" lon=\"-73.95861\"/>\n    <rtept lat=\"40.79857\" lon=\"-73.95865\"/>\n    <rtept lat=\"40.79799\" lon=\"-73.95851\"/>\n    <rtept lat=\"40.7976\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79727\" lon=\"-73.95835\"/>\n    <rtept lat=\"40.79713\" lon=\"-73.9582\"/>\n    <rtept lat=\"40.79677\" lon=\"-73.95826\"/>\n    <rtept lat=\"40.79658\" lon=\"-73.9585\"/>\n    <rtept lat=\"40.79638\" lon=\"-73.95847\"/>\n    <rtept lat=\"40.79613\" lon=\"-73.95823\"/>\n    <rtept lat=\"40.79593\" lon=\"-73.95838\"/>\n    <rtept lat=\"40.79589\" lon=\"-73.9588\"/>\n    <rtept lat=\"40.79571\" lon=\"-73.9589\"/>\n    <rtept lat=\"40.79548\" lon=\"-73.95906\"/>\n    <rtept lat=\"40.79527\" lon=\"-73.95939\"/>\n    <rtept lat=\"40.79516\" lon=\"-73.95955\"/>\n    <rtept lat=\"40.79497\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79478\" lon=\"-73.95963\"/>\n    <rtept lat=\"40.79459\" lon=\"-73.95968\"/>\n    <rtept lat=\"40.79438\" lon=\"-73.95973\"/>\n    <rtept lat=\"40.79401\" lon=\"-73.96011\"/>\n    <rtept lat=\"40.79376\" lon=\"-73.96089\"/>\n    <rtept lat=\"40.79339\" lon=\"-73.96146\"/>\n    <rtept lat=\"40.7928\" lon=\"-73.96193\"/>\n    <rtept lat=\"40.79197\" lon=\"-73.9624\"/>\n    <rtept lat=\"40.79165\" lon=\"-73.96257\"/>\n    <rtept lat=\"40.79138\" lon=\"-73.96279\"/>\n    <rtept lat=\"40.79089\" lon=\"-73.96356\"/>\n    <rtept lat=\"40.79058\" lon=\"-73.96403\"/>\n    <rtept lat=\"40.78999\" lon=\"-73.96422\"/>\n    <rtept lat=\"40.78939\" lon=\"-73.96419\"/>\n    <rtept lat=\"40.78899\" lon=\"-73.96445\"/>\n    <rtept lat=\"40.78846\" lon=\"-73.96581\"/>\n    <rtept lat=\"40.78823\" lon=\"-73.96626\"/>\n    <rtept lat=\"40.78791\" lon=\"-73.9667\"/>\n    <rtept lat=\"40.7877\" lon=\"-73.96704\"/>\n    <rtept lat=\"40.78713\" lon=\"-73.96749\"/>\n    <rtept lat=\"40.78608\" lon=\"-73.96779\"/>\n    <rtept lat=\"40.78541\" lon=\"-73.96858\"/>\n    <rtept lat=\"40.78539\" lon=\"-73.96903\"/>\n    <rtept lat=\"40.78522\" lon=\"-73.96919\"/>\n    <rtept lat=\"40.78505\" lon=\"-73.96874\"/>\n    <rtept lat=\"40.78471\" lon=\"-73.96762\"/>\n    <rtept lat=\"40.78484\" lon=\"-73.96791\"/>\n    <rtept lat=\"40.78508\" lon=\"-73.96884\"/>\n    <rtept lat=\"40.7853\" lon=\"-73.96935\"/>\n    <rtept lat=\"40.78447\" lon=\"-73.96954\"/>\n    <rtept lat=\"40.78406\" lon=\"-73.96918\"/>\n    <rtept lat=\"40.78355\" lon=\"-73.96913\"/>\n    <rtept lat=\"40.78285\" lon=\"-73.9693\"/>\n    <rtept lat=\"40.7825\" lon=\"-73.96942\"/>\n    <rtept lat=\"40.78195\" lon=\"-73.96943\"/>\n    <rtept lat=\"40.78153\" lon=\"-73.9694\"/>\n    <rtept lat=\"40.78088\" lon=\"-73.96975\"/>\n    <rtept lat=\"40.78044\" lon=\"-73.97033\"/>\n    <rtept lat=\"40.77985\" lon=\"-73.97117\"/>\n    <rtept lat=\"40.77914\" lon=\"-73.9719\"/>\n    <rtept lat=\"40.77856\" lon=\"-73.97266\"/>\n    <rtept lat=\"40.77829\" lon=\"-73.97313\"/>\n    <rtept lat=\"40.77797\" lon=\"-73.97357\"/>\n    <rtept lat=\"40.77736\" lon=\"-73.97404\"/>\n    <rtept lat=\"40.77689\" lon=\"-73.97408\"/>\n    <rtept lat=\"40.77535\" lon=\"-73.97396\"/>\n    <rtept lat=\"40.77485\" lon=\"-73.97432\"/>\n    <rtept lat=\"40.77471\" lon=\"-73.97459\"/>\n    <rtept lat=\"40.77455\" lon=\"-73.97532\"/>\n    <rtept lat=\"40.77429\" lon=\"-73.97564\"/>\n    <rtept lat=\"40.77327\" lon=\"-73.9763\"/>\n    <rtept lat=\"40.7727\" lon=\"-73.97656\"/>\n    <rtept lat=\"40.77189\" lon=\"-73.97699\"/>\n    <rtept lat=\"40.77156\" lon=\"-73.9773\"/>\n    <rtept lat=\"40.77091\" lon=\"-73.97824\"/>\n    <rtept lat=\"40.77049\" lon=\"-73.97878\"/>\n    <rtept lat=\"40.77012\" lon=\"-73.97919\"/>\n    <rtept lat=\"40.76943\" lon=\"-73.97976\"/>\n    <rtept lat=\"40.7691\" lon=\"-73.9799\"/>\n    <rtept lat=\"40.7689\" lon=\"-73.97996\"/>\n    <rtept lat=\"40.76876\" lon=\"-73.97991\"/>\n    <rtept lat=\"40.76872\" lon=\"-73.98033\"/>\n    <rtept lat=\"40.76837\" lon=\"-73.9813\"/>\n    <rtept lat=\"40.76813\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76798\" lon=\"-73.98117\"/>\n    <rtept lat=\"40.76781\" lon=\"-73.98124\"/>\n  </rte>\n</gpx>","output":"str","x":980,"y":1260,"wires":[["132c7ffb.620dd"]]},{"id":"132c7ffb.620dd","type":"function","z":"a288699b.8838c8","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1260,"wires":[["7f56279a.607d88"]]},{"id":"818ab4d8.57ef58","type":"inject","z":"a288699b.8838c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":1260,"wires":[["f94a0314.d769"]]},{"id":"32332341.f90f0c","type":"delay","z":"a288699b.8838c8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":1260,"wires":[["d855f32a.894cc"]]},{"id":"7f56279a.607d88","type":"csv","z":"a288699b.8838c8","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1410,"y":1260,"wires":[["32332341.f90f0c"]]},{"id":"d855f32a.894cc","type":"function","z":"a288699b.8838c8","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":1260,"wires":[["aa211fdc.d419e"]]},{"id":"dacbc0fb.b5c43","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1290,"y":760,"wires":[["aef6402.23c09c"]]},{"id":"24fb602.a0b99a","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1052","datatype":"Double","value":"","name":"WL-Engine-Oil-Pressure","x":1090,"y":900,"wires":[["5a6e8106.7ac8f"]]},{"id":"5a6e8106.7ac8f","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1290,"y":900,"wires":[["f0f54af.4d8ffb8"]]},{"id":"f0f54af.4d8ffb8","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Engine_Oil_Pressure","func":"\nmsg.payload = {\n    \"engine_oil_pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":900,"wires":[["aa211fdc.d419e"]]},{"id":"8dc287b1.b92ec8","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Fuel_Level","func":"\nmsg.payload = {\n    \"fuel_level\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":1000,"wires":[["aa211fdc.d419e"]]},{"id":"213a302.ba4f0d","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1290,"y":1000,"wires":[["8dc287b1.b92ec8"]]},{"id":"f321c8f9.ee3578","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1050","datatype":"Double","value":"","name":"WL-Fuel-Level","x":1060,"y":1000,"wires":[["213a302.ba4f0d"]]},{"id":"1ee7e7e0.8d0118","type":"OpcUa-Item","z":"a288699b.8838c8","item":"ns=3;i=1049","datatype":"Double","value":"","name":"WL-Hydraulic-Oil-Pressure","x":1100,"y":1100,"wires":[["bb2b0aae.1f7bc8"]]},{"id":"bb2b0aae.1f7bc8","type":"OpcUa-Client","z":"a288699b.8838c8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1290,"y":1100,"wires":[["787017bc.00dfe8"]]},{"id":"787017bc.00dfe8","type":"function","z":"a288699b.8838c8","name":"Wheel_Loader_Hydraulic_Oil_Pressure","func":"\nmsg.payload = {\n    \"hydraulic_oil_pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":1100,"wires":[["aa211fdc.d419e"]]},{"id":"a7eb2949.9c1248","type":"http request","z":"a288699b.8838c8","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/n9jIP8ZTNyDXOy3SiHRy/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2430,"y":580,"wires":[[]]},{"id":"aa211fdc.d419e","type":"http request","z":"a288699b.8838c8","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/meRCyxc6WhlyxQvdjmib/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2410,"y":920,"wires":[[]]},{"id":"52754a07.afc214","type":"inject","z":"c8a12490.2f3778","name":"RM-Tank-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":180,"wires":[["95a3ec10.fe2b6","aabc384d.889ea8"]]},{"id":"95a3ec10.fe2b6","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1060","datatype":"Double","value":"","name":"Level","x":810,"y":240,"wires":[["e041372f.cc9758"]]},{"id":"e041372f.cc9758","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1030,"y":240,"wires":[["c4e3f162.3d3d3"]]},{"id":"c4e3f162.3d3d3","type":"function","z":"c8a12490.2f3778","name":"Level","func":"\nmsg.payload = {\n    \"level\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":240,"wires":[["4f88c62f.504e68"]]},{"id":"f75b5da7.fbb7b","type":"function","z":"c8a12490.2f3778","name":"Temperature","func":"\nmsg.payload = {\n    \"temperature\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":340,"wires":[["4f88c62f.504e68"]]},{"id":"7b7e8e92.10f8d","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1030,"y":340,"wires":[["f75b5da7.fbb7b"]]},{"id":"aabc384d.889ea8","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1061","datatype":"Double","value":"","name":"Temperature","x":830,"y":340,"wires":[["7b7e8e92.10f8d"]]},{"id":"4f88c62f.504e68","type":"http request","z":"c8a12490.2f3778","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/86MRqvRtXwDyUgBaGRSc/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":280,"wires":[[]]},{"id":"f6c6b1f2.6a316","type":"inject","z":"c8a12490.2f3778","name":"RM-Tank-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":640,"wires":[["e855896b.31bad8","f32e1346.86362"]]},{"id":"e855896b.31bad8","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1064","datatype":"Double","value":"","name":"Level","x":770,"y":700,"wires":[["3c3c0846.224348"]]},{"id":"3c3c0846.224348","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":990,"y":700,"wires":[["a29c18ee.494bd8"]]},{"id":"a29c18ee.494bd8","type":"function","z":"c8a12490.2f3778","name":"Level","func":"\nmsg.payload = {\n    \"level\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":700,"wires":[["925919cb.16e088"]]},{"id":"d4312495.4ec558","type":"function","z":"c8a12490.2f3778","name":"Temperature","func":"\nmsg.payload = {\n    \"temperature\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":800,"wires":[["925919cb.16e088"]]},{"id":"8423ade5.99324","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":990,"y":800,"wires":[["d4312495.4ec558"]]},{"id":"f32e1346.86362","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1065","datatype":"Double","value":"","name":"Temperature","x":790,"y":800,"wires":[["8423ade5.99324"]]},{"id":"925919cb.16e088","type":"http request","z":"c8a12490.2f3778","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/8ALs04emxDGa5lIWgbzK/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":740,"wires":[[]]},{"id":"726f115e.b540d","type":"inject","z":"c8a12490.2f3778","name":"RM-Pump-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":400,"wires":[["db42933.5a3107","3556d54a.6d48ca"]]},{"id":"db42933.5a3107","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1068","datatype":"Double","value":"","name":"Flow","x":810,"y":460,"wires":[["ce50c763.4930f8"]]},{"id":"ce50c763.4930f8","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1030,"y":460,"wires":[["57a5c129.2af7b"]]},{"id":"57a5c129.2af7b","type":"function","z":"c8a12490.2f3778","name":"Flow","func":"\nmsg.payload = {\n    \"flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":460,"wires":[["c59a1a1f.9d4168"]]},{"id":"6efa15ee.afc47c","type":"function","z":"c8a12490.2f3778","name":"Running","func":"\nmsg.payload = {\n    \"running\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":560,"wires":[["c59a1a1f.9d4168"]]},{"id":"ff7dc78c.44a228","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":1030,"y":560,"wires":[["6efa15ee.afc47c"]]},{"id":"3556d54a.6d48ca","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1067","datatype":"Int32","value":"","name":"Running Status","x":840,"y":560,"wires":[["ff7dc78c.44a228"]]},{"id":"c59a1a1f.9d4168","type":"http request","z":"c8a12490.2f3778","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/eIMtnIM8sVmUstcDsXLA/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":500,"wires":[[]]},{"id":"6e608211.fd9d8c","type":"inject","z":"c8a12490.2f3778","name":"RM-Pump-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":880,"wires":[["b27bff70.86a08","30994da5.33c492"]]},{"id":"b27bff70.86a08","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1071","datatype":"Double","value":"","name":"Flow","x":770,"y":940,"wires":[["40c9edd1.b92f64"]]},{"id":"40c9edd1.b92f64","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":990,"y":940,"wires":[["7ed46c1e.762b14"]]},{"id":"7ed46c1e.762b14","type":"function","z":"c8a12490.2f3778","name":"Flow","func":"\nmsg.payload = {\n    \"flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":940,"wires":[["71fbce14.ba1b1"]]},{"id":"a9dfa72f.da9438","type":"function","z":"c8a12490.2f3778","name":"Running","func":"\nmsg.payload = {\n    \"running\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1040,"wires":[["71fbce14.ba1b1"]]},{"id":"4b74b539.b2b68c","type":"OpcUa-Client","z":"c8a12490.2f3778","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":990,"y":1040,"wires":[["a9dfa72f.da9438"]]},{"id":"30994da5.33c492","type":"OpcUa-Item","z":"c8a12490.2f3778","item":"ns=3;i=1070","datatype":"Int32","value":"","name":"Running Status","x":800,"y":1040,"wires":[["4b74b539.b2b68c"]]},{"id":"71fbce14.ba1b1","type":"http request","z":"c8a12490.2f3778","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/PSXfZHbsT2G0DmrpQT98/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":980,"wires":[[]]},{"id":"a5c7440c.3232f8","type":"inject","z":"64f7d845.77bec8","name":"Reactor-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["a9b6f6c0.943688","d922574a.74f348","565bc794.11c048","71e2961f.7f3198"]]},{"id":"a9b6f6c0.943688","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1077","datatype":"Double","value":"","name":"Feed_Flow","x":570,"y":120,"wires":[["d5c197b3.8a8538"]]},{"id":"d5c197b3.8a8538","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":120,"wires":[["dc42a740.8fadc8"]]},{"id":"dc42a740.8fadc8","type":"function","z":"64f7d845.77bec8","name":"Feed_Flow","func":"\nmsg.payload = {\n    \"feed_flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":120,"wires":[["d63d8c2f.5687f"]]},{"id":"648cbada.ba90f4","type":"function","z":"64f7d845.77bec8","name":"Output_Flow","func":"\nmsg.payload = {\n    \"output_flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":220,"wires":[["d63d8c2f.5687f"]]},{"id":"1889d941.76a767","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":220,"wires":[["648cbada.ba90f4"]]},{"id":"d922574a.74f348","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1079","datatype":"Double","value":"","name":"Output_Flow","x":570,"y":220,"wires":[["1889d941.76a767"]]},{"id":"d63d8c2f.5687f","type":"http request","z":"64f7d845.77bec8","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/LGja2OpYvV9MhlYN9i0c/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":260,"wires":[[]]},{"id":"565bc794.11c048","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1075","datatype":"Double","value":"","name":"Pressure","x":560,"y":300,"wires":[["720c154f.b439bc"]]},{"id":"71e2961f.7f3198","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1078","datatype":"Double","value":"","name":"Temperature","x":550,"y":400,"wires":[["83e883ed.35b8"]]},{"id":"6bad72a7.664edc","type":"function","z":"64f7d845.77bec8","name":"Pressure","func":"\nmsg.payload = {\n    \"pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":300,"wires":[["d63d8c2f.5687f"]]},{"id":"720c154f.b439bc","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":300,"wires":[["6bad72a7.664edc"]]},{"id":"7b87c3d.2a75b3c","type":"function","z":"64f7d845.77bec8","name":"Temperature","func":"\nmsg.payload = {\n    \"temperature\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":400,"wires":[["d63d8c2f.5687f"]]},{"id":"83e883ed.35b8","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":400,"wires":[["7b87c3d.2a75b3c"]]},{"id":"6b72c6ba.ddb038","type":"inject","z":"64f7d845.77bec8","name":"Reactor-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":640,"wires":[["ae4fe57c.dcda78","b55b95c9.675998","d1d69fa4.d22d8","d594c165.6535"]]},{"id":"ae4fe57c.dcda78","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1084","datatype":"Double","value":"","name":"Feed_Flow","x":570,"y":560,"wires":[["c06e593.6b42da8"]]},{"id":"c06e593.6b42da8","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":560,"wires":[["df3acefb.08039"]]},{"id":"df3acefb.08039","type":"function","z":"64f7d845.77bec8","name":"Feed_Flow","func":"\nmsg.payload = {\n    \"feed_flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":560,"wires":[["b6df0991.6d4988"]]},{"id":"9ac35094.63615","type":"function","z":"64f7d845.77bec8","name":"Output_Flow","func":"\nmsg.payload = {\n    \"output_flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":660,"wires":[["b6df0991.6d4988"]]},{"id":"cb16b71e.130098","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":660,"wires":[["9ac35094.63615"]]},{"id":"b55b95c9.675998","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1083","datatype":"Double","value":"","name":"Output_Flow","x":570,"y":660,"wires":[["cb16b71e.130098"]]},{"id":"b6df0991.6d4988","type":"http request","z":"64f7d845.77bec8","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/6j8WPToUBdvQZ14tvgob/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":700,"wires":[[]]},{"id":"d1d69fa4.d22d8","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1081","datatype":"Double","value":"","name":"Pressure","x":560,"y":740,"wires":[["b9dd75af.becbd8"]]},{"id":"d594c165.6535","type":"OpcUa-Item","z":"64f7d845.77bec8","item":"ns=3;i=1082","datatype":"Double","value":"","name":"Temperature","x":550,"y":840,"wires":[["387d27d6.382a78"]]},{"id":"bbf5d77f.b32178","type":"function","z":"64f7d845.77bec8","name":"Pressure","func":"\nmsg.payload = {\n    \"pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":740,"wires":[["b6df0991.6d4988"]]},{"id":"b9dd75af.becbd8","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":740,"wires":[["bbf5d77f.b32178"]]},{"id":"6b1868d2.f67e08","type":"function","z":"64f7d845.77bec8","name":"Temperature","func":"\nmsg.payload = {\n    \"temperature\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":840,"wires":[["b6df0991.6d4988"]]},{"id":"387d27d6.382a78","type":"OpcUa-Client","z":"64f7d845.77bec8","endpoint":"da0c46e5.9cb828","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC","x":770,"y":840,"wires":[["6b1868d2.f67e08"]]},{"id":"b99f088d.f71ef8","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1320,"y":180,"wires":[["70f05a4e.1afae4"]]},{"id":"aa9be3d2.18a6f","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1012","datatype":"Double","value":"","name":"FD_FAN_SPEED","x":1040,"y":180,"wires":[["b99f088d.f71ef8"]]},{"id":"2c53dcfb.2ea534","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1013","datatype":"Int32","value":"","name":"FD_FAN_RUNNING_STATUS","x":1080,"y":260,"wires":[["dbbcb17.d9b2d5"]]},{"id":"dbbcb17.d9b2d5","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1340,"y":260,"wires":[["eb59bf15.331f4"]]},{"id":"8a853357.4fe36","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1340,"y":800,"wires":[["80659f4.4a60c6"]]},{"id":"7b2a21f8.ae09e","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1018","datatype":"Double","value":"","name":"FURNACE_PRESSURE","x":1090,"y":800,"wires":[["8a853357.4fe36"]]},{"id":"80659f4.4a60c6","type":"function","z":"7a9550e.40e0cb","name":"FURNACE_PRESSURE","func":"msg.payload = {\n    \"furnace_pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1670,"y":800,"wires":[["6ebe1e18.93e5a"]]},{"id":"6e04e7.841ceb18","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1360,"y":880,"wires":[["83c0c440.4012b8"]]},{"id":"9c4f6728.b22ca8","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1017","datatype":"Double","value":"","name":"FURNACE_TEMPERATURE","x":1100,"y":880,"wires":[["6e04e7.841ceb18"]]},{"id":"83c0c440.4012b8","type":"function","z":"7a9550e.40e0cb","name":"FURNACE_TEMPERATURE","func":"msg.payload={\n    \"furnace_temperature\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":880,"wires":[["6ebe1e18.93e5a"]]},{"id":"b596016f.b41bb","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1015","datatype":"Double","value":"","name":"STEAM_DRUM_LEVEL","x":1090,"y":1180,"wires":[["a8afa793.f77328"]]},{"id":"a8afa793.f77328","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1360,"y":1180,"wires":[["dc338782.382c08"]]},{"id":"dc338782.382c08","type":"function","z":"7a9550e.40e0cb","name":"STEAM_DRUM_LEVEL","func":"msg.payload={\n    \"steam_drum_level\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1670,"y":1180,"wires":[["83446b3a.d3c908"]]},{"id":"f8b01067.672ae","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1086","datatype":"Double","value":"","name":"STEAM_HEADER_PRESSURE","x":1110,"y":1340,"wires":[["10d992d9.61099d"]]},{"id":"10d992d9.61099d","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1360,"y":1340,"wires":[["d987bcc.d58204"]]},{"id":"d987bcc.d58204","type":"function","z":"7a9550e.40e0cb","name":"STEAM_HEADER_PRESSURE","func":"msg.payload={\n    \"steam_header_pressure\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1650,"y":1340,"wires":[["fd97cd16.ca2f7"]]},{"id":"1447f812.f7f748","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1085","datatype":"Double","value":"","name":"STEAM_HEADER_TEMPERATURE","x":1100,"y":1420,"wires":[["154e2e1a.0df422"]]},{"id":"154e2e1a.0df422","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1360,"y":1420,"wires":[["b32ecf64.9b05"]]},{"id":"b32ecf64.9b05","type":"function","z":"7a9550e.40e0cb","name":"STEAM_HEADER_TEMPERATURE","func":"msg.payload={\n    \"steam_header_temperature\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1420,"wires":[["fd97cd16.ca2f7"]]},{"id":"4b5319c6.83d458","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1320,"y":360,"wires":[["b8ff7064.ea577"]]},{"id":"4ad296c7.ec23f8","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1010","datatype":"Double","value":"","name":"ID_FAN_SPEED","x":1040,"y":360,"wires":[["4b5319c6.83d458"]]},{"id":"eca941da.64f2d","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1009","datatype":"Boolean","value":"","name":"ID_FAN_RUNNING_STATUS","x":1080,"y":440,"wires":[["6607df81.92af5"]]},{"id":"6607df81.92af5","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1340,"y":440,"wires":[["36f4f3d0.e171cc"]]},{"id":"b8ff7064.ea577","type":"function","z":"7a9550e.40e0cb","name":"ID_FAN_SPEED","func":"msg.payload = {\n    \"id_fan_speed\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":360,"wires":[["bcb8f60d.7684f8"]]},{"id":"36f4f3d0.e171cc","type":"function","z":"7a9550e.40e0cb","name":"ID_FAN_RUNNING_STATUS","func":"msg.payload = {\n    \"id_fan_running_status\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":440,"wires":[["bcb8f60d.7684f8"]]},{"id":"47991b36.944d04","type":"inject","z":"7a9550e.40e0cb","name":"ID_FAN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":400,"wires":[["4ad296c7.ec23f8","eca941da.64f2d"]]},{"id":"cfa24f6c.5aae3","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1320,"y":540,"wires":[["567021d9.7638c"]]},{"id":"95c995f.7dbfb68","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1021","datatype":"Double","value":"","name":"WATER_FLOW","x":1040,"y":540,"wires":[["cfa24f6c.5aae3"]]},{"id":"379d93e3.8eafbc","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1020","datatype":"Boolean","value":"","name":"WATER_PRESSURE","x":1060,"y":620,"wires":[["8d8bbb67.07d1a8"]]},{"id":"8d8bbb67.07d1a8","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1340,"y":620,"wires":[["cb1ddc22.0139"]]},{"id":"567021d9.7638c","type":"function","z":"7a9550e.40e0cb","name":"WATER_FLOW","func":"msg.payload = {\n    \"water_flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":540,"wires":[["e2e9279c.440a18"]]},{"id":"cb1ddc22.0139","type":"function","z":"7a9550e.40e0cb","name":"WATER_PRESSURE","func":"msg.payload = {\n    \"water_pressure\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":620,"wires":[["e2e9279c.440a18"]]},{"id":"c3a268bd.dc1518","type":"inject","z":"7a9550e.40e0cb","name":"FEED_WATER","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":580,"wires":[["95c995f.7dbfb68","379d93e3.8eafbc","cd0e718b.96748"]]},{"id":"cd0e718b.96748","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1088","datatype":"Boolean","value":"","name":"WATER_TEMPERATURE","x":1070,"y":700,"wires":[["1592de37.67ede2"]]},{"id":"1592de37.67ede2","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1340,"y":700,"wires":[["8d79a4ac.3d5508"]]},{"id":"8d79a4ac.3d5508","type":"function","z":"7a9550e.40e0cb","name":"WATER_TEMPERATURE","func":"msg.payload = {\n    \"water_temperature\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":700,"wires":[["e2e9279c.440a18"]]},{"id":"cb01f428.79abe8","type":"inject","z":"7a9550e.40e0cb","name":"Furnace","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":880,"wires":[["7b2a21f8.ae09e","9c4f6728.b22ca8","83b43ee4.79d6b","cd23da91.bdea68"]]},{"id":"c4423f4c.67e6d","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1340,"y":960,"wires":[["edc3a954.7d5298"]]},{"id":"83b43ee4.79d6b","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1090","datatype":"Double","value":"","name":"COAL_FLOW","x":1060,"y":960,"wires":[["c4423f4c.67e6d"]]},{"id":"edc3a954.7d5298","type":"function","z":"7a9550e.40e0cb","name":"COAL_FLOW","func":"msg.payload = {\n    \"coal_flow\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":960,"wires":[["6ebe1e18.93e5a"]]},{"id":"6825b60d.3c07b8","type":"OpcUa-Client","z":"7a9550e.40e0cb","endpoint":"c0877346.7186d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"PROSYS_OPC","x":1360,"y":1040,"wires":[["78425fbb.1080c"]]},{"id":"cd23da91.bdea68","type":"OpcUa-Item","z":"7a9550e.40e0cb","item":"ns=3;i=1087","datatype":"Double","value":"","name":"GCV","x":1030,"y":1040,"wires":[["6825b60d.3c07b8"]]},{"id":"78425fbb.1080c","type":"function","z":"7a9550e.40e0cb","name":"gcv","func":"msg.payload={\n    \"gcv\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1610,"y":1040,"wires":[["6ebe1e18.93e5a"]]},{"id":"53016bdb.312aa4","type":"inject","z":"7a9550e.40e0cb","name":"STEAM_DRUM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1180,"wires":[["b596016f.b41bb"]]},{"id":"6fb02d46.7a1574","type":"inject","z":"7a9550e.40e0cb","name":"STEAM_HEADER","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1360,"wires":[["f8b01067.672ae","1447f812.f7f748"]]},{"id":"bf92bbd4.884718","type":"join","z":"7a9550e.40e0cb","name":"FD_FAN","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1920,"y":200,"wires":[["2d5c7257.f39bae","16a24439.929d3c"]]},{"id":"2d5c7257.f39bae","type":"debug","z":"7a9550e.40e0cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2130,"y":120,"wires":[]},{"id":"9cc9dcc.a1a6a2","type":"inject","z":"7a9550e.40e0cb","name":"FD_FAN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"fd_fan_running_status","payload":"","payloadType":"date","x":660,"y":220,"wires":[["2c53dcfb.2ea534","aa9be3d2.18a6f"]]},{"id":"70f05a4e.1afae4","type":"function","z":"7a9550e.40e0cb","name":"FD_FAN_SPEED","func":"msg.payload = {\n    \"fd_fan_speed\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":180,"wires":[["bf92bbd4.884718"]]},{"id":"eb59bf15.331f4","type":"function","z":"7a9550e.40e0cb","name":"FD_FAN_RUNNING_STATUS","func":"msg.payload = {\n    \"fd_fan_running_status\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":240,"wires":[["bf92bbd4.884718"]]},{"id":"16a24439.929d3c","type":"http request","z":"7a9550e.40e0cb","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/BT3lUJNyn8aDzj38ND5P/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2150,"y":200,"wires":[[]]},{"id":"bcb8f60d.7684f8","type":"join","z":"7a9550e.40e0cb","name":"ID_FAN","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1980,"y":380,"wires":[["56b962f7.9eb7cc","d0075074.3d5be"]]},{"id":"56b962f7.9eb7cc","type":"debug","z":"7a9550e.40e0cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2190,"y":300,"wires":[]},{"id":"d0075074.3d5be","type":"http request","z":"7a9550e.40e0cb","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/Q7DXi441h91bsfdMcqJQ/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2210,"y":380,"wires":[[]]},{"id":"e2e9279c.440a18","type":"join","z":"7a9550e.40e0cb","name":"FEED_WATER","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2020,"y":640,"wires":[["a20e924e.50b2c","755d3c6b.fff684"]]},{"id":"a20e924e.50b2c","type":"debug","z":"7a9550e.40e0cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2210,"y":560,"wires":[]},{"id":"755d3c6b.fff684","type":"http request","z":"7a9550e.40e0cb","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/hqxPKi9XG6Bi2y07R9CN/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2230,"y":640,"wires":[[]]},{"id":"6ebe1e18.93e5a","type":"join","z":"7a9550e.40e0cb","name":"FURNACE","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1990,"y":920,"wires":[["b0ddda2e.668898","f9e2784f.09c448"]]},{"id":"b0ddda2e.668898","type":"debug","z":"7a9550e.40e0cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2210,"y":860,"wires":[]},{"id":"f9e2784f.09c448","type":"http request","z":"7a9550e.40e0cb","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/6LBVogpQXNasG7crKeIg/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2230,"y":940,"wires":[[]]},{"id":"83446b3a.d3c908","type":"join","z":"7a9550e.40e0cb","name":"STEAM_DRUM","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2000,"y":1220,"wires":[["144b2587.fa1d3a","efcd5cf1.94e63"]]},{"id":"144b2587.fa1d3a","type":"debug","z":"7a9550e.40e0cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2250,"y":1160,"wires":[]},{"id":"efcd5cf1.94e63","type":"http request","z":"7a9550e.40e0cb","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/hhQ1Xf1z9sqHyBBIDC18/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2250,"y":1220,"wires":[[]]},{"id":"fd97cd16.ca2f7","type":"join","z":"7a9550e.40e0cb","name":"STEAM_HEADER","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2030,"y":1360,"wires":[["f53591e1.4cbe4","30b9618.509179e"]]},{"id":"f53591e1.4cbe4","type":"debug","z":"7a9550e.40e0cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2270,"y":1320,"wires":[]},{"id":"30b9618.509179e","type":"http request","z":"7a9550e.40e0cb","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/WeAc6pTrCeO2lteQblBV/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":2270,"y":1400,"wires":[[]]},{"id":"3be1117e.749ebe","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_POLICE-1_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n  <rtept lat=\"32.2143703 \" lon=\"76.3173125\"/>\n  <rtept lat=\"32.21435 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21432 \" lon=\"76.31735\"/>\n  <rtept lat=\"32.21429 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21426 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21424 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21416 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21413 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21396 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21393 \" lon=\"76.31727\"/>\n  <rtept lat=\"32.2139 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21388 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21385 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21384 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21382 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.2138 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21377 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21375 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31729\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.3173\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31732\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.2137 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31751\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31753\"/>\n  <rtept lat=\"32.21378 \" lon=\"76.31757\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21387 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21392 \" lon=\"76.31762\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.31763\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21425 \" lon=\"76.31772\"/>\n  <rtept lat=\"32.21439 \" lon=\"76.31777\"/>\n  <rtept lat=\"32.21456 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21468 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21487 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21494 \" lon=\"76.31805\"/>\n  <rtept lat=\"32.21504 \" lon=\"76.31816\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31851\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31854\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31856\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31857\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.3186\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31862\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31864\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31865\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31867\"/>\n  <rtept lat=\"32.2153 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21528 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.21526 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21522 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21517 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21501 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21495 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21486 \" lon=\"76.3187\"/>\n  <rtept lat=\"32.21481 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21474 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21469 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21465 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.21459 \" lon=\"76.31874\"/>\n  <rtept lat=\"32.21454 \" lon=\"76.31877\"/>\n  <rtept lat=\"32.21445 \" lon=\"76.31887\"/>\n  <rtept lat=\"32.21436 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.2143 \" lon=\"76.31898\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31899\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21406 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21389 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31893\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21364 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.21363 \" lon=\"76.31895\"/>\n  <rtept lat=\"32.21361 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21359 \" lon=\"76.31901\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31903\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31906\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31912\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31917\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31921\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31929\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31959\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31968\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31974\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31977\"/>\n  <rtept lat=\"32.21353 \" lon=\"76.31983\"/>\n  <rtept lat=\"32.21352 \" lon=\"76.31984\"/>\n  <rtept lat=\"32.21351 \" lon=\"76.31987\"/>\n  <rtept lat=\"32.21348 \" lon=\"76.31991\"/>\n  <rtept lat=\"32.21327 \" lon=\"76.32007\"/>\n  <rtept lat=\"32.21324 \" lon=\"76.32009\"/>\n  <rtept lat=\"32.21308 \" lon=\"76.32021\"/>\n  <rtept lat=\"32.21269 \" lon=\"76.32049\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.32063\"/>\n  <rtept lat=\"32.2123 \" lon=\"76.32072\"/>\n  <rtept lat=\"32.21187 \" lon=\"76.32098\"/>\n  <rtept lat=\"32.21177 \" lon=\"76.32104\"/>\n  <rtept lat=\"32.21171 \" lon=\"76.32107\"/>\n  <rtept lat=\"32.21166 \" lon=\"76.32111\"/>\n  <rtept lat=\"32.21148 \" lon=\"76.32115\"/>\n  <rtept lat=\"32.21136 \" lon=\"76.32122\"/>\n  <rtept lat=\"32.2113574 \" lon=\"76.3212152\"/>\n  <rtept lat=\"32.2113574 \" lon=\"76.3212152\"/>\n  <rtept lat=\"32.21148 \" lon=\"76.32115\"/>\n  <rtept lat=\"32.21166 \" lon=\"76.32111\"/>\n  <rtept lat=\"32.21171 \" lon=\"76.32107\"/>\n  <rtept lat=\"32.21177 \" lon=\"76.32104\"/>\n  <rtept lat=\"32.21187 \" lon=\"76.32098\"/>\n  <rtept lat=\"32.2123 \" lon=\"76.32072\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.32063\"/>\n  <rtept lat=\"32.21269 \" lon=\"76.32049\"/>\n  <rtept lat=\"32.21308 \" lon=\"76.32021\"/>\n  <rtept lat=\"32.21324 \" lon=\"76.32009\"/>\n  <rtept lat=\"32.21327 \" lon=\"76.32007\"/>\n  <rtept lat=\"32.21348 \" lon=\"76.31991\"/>\n  <rtept lat=\"32.21351 \" lon=\"76.31987\"/>\n  <rtept lat=\"32.21352 \" lon=\"76.31984\"/>\n  <rtept lat=\"32.21353 \" lon=\"76.31983\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31977\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31974\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31968\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31959\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31929\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31921\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31917\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31912\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31906\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31903\"/>\n  <rtept lat=\"32.21359 \" lon=\"76.31901\"/>\n  <rtept lat=\"32.21361 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21363 \" lon=\"76.31895\"/>\n  <rtept lat=\"32.21364 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31893\"/>\n  <rtept lat=\"32.21389 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21406 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31899\"/>\n  <rtept lat=\"32.2143 \" lon=\"76.31898\"/>\n  <rtept lat=\"32.21436 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.21445 \" lon=\"76.31887\"/>\n  <rtept lat=\"32.21454 \" lon=\"76.31877\"/>\n  <rtept lat=\"32.21459 \" lon=\"76.31874\"/>\n  <rtept lat=\"32.21465 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.21469 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21474 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21481 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21486 \" lon=\"76.3187\"/>\n  <rtept lat=\"32.21495 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21501 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21517 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21522 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21526 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21528 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.2153 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31867\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31865\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31864\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31862\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.3186\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31857\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31856\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31854\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31851\"/>\n  <rtept lat=\"32.21504 \" lon=\"76.31816\"/>\n  <rtept lat=\"32.21494 \" lon=\"76.31805\"/>\n  <rtept lat=\"32.21487 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21468 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21456 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21439 \" lon=\"76.31777\"/>\n  <rtept lat=\"32.21425 \" lon=\"76.31772\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.31763\"/>\n  <rtept lat=\"32.21392 \" lon=\"76.31762\"/>\n  <rtept lat=\"32.21387 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21378 \" lon=\"76.31757\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31753\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31751\"/>\n  <rtept lat=\"32.2137 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.2136812 \" lon=\"76.317382\"/>\n  <rtept lat=\"32.21366 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.213 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21295 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21288 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.2128 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.21273 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.21265 \" lon=\"76.31754\"/>\n  <rtept lat=\"32.21256 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21251 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21242 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21235 \" lon=\"76.31758\"/>\n  <rtept lat=\"32.21226 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.2122 \" lon=\"76.31755\"/>\n  <rtept lat=\"32.21217 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.21212 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21208 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21199 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21188 \" lon=\"76.31773\"/>\n  <rtept lat=\"32.21179 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21164 \" lon=\"76.31784\"/>\n  <rtept lat=\"32.21146 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21129 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21124 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21122 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21108 \" lon=\"76.31796\"/>\n  <rtept lat=\"32.21075 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21068 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21039 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21027 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21023 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21018 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21015 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21013 \" lon=\"76.31787\"/>\n  <rtept lat=\"32.21011 \" lon=\"76.31786\"/>\n  <rtept lat=\"32.21008 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21003 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21001 \" lon=\"76.31771\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.20994 \" lon=\"76.31752\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31746\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.3174\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31736\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31731\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31716\"/>\n  <rtept lat=\"32.20995 \" lon=\"76.31702\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31698\"/>\n  <rtept lat=\"32.2102 \" lon=\"76.31677\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31663\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31661\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.21031 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21029 \" lon=\"76.31656\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21021 \" lon=\"76.31659\"/>\n  <rtept lat=\"32.21012 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.21009 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.20982 \" lon=\"76.31667\"/>\n  <rtept lat=\"32.2095 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.20939 \" lon=\"76.31668\"/>\n  <rtept lat=\"32.20932 \" lon=\"76.31664\"/>\n  <rtept lat=\"32.20926 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.20919 \" lon=\"76.31647\"/>\n  <rtept lat=\"32.20913 \" lon=\"76.31639\"/>\n  <rtept lat=\"32.20897 \" lon=\"76.31629\"/>\n  <rtept lat=\"32.2089 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20882 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20868 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20853 \" lon=\"76.31627\"/>\n  <rtept lat=\"32.2082 \" lon=\"76.31625\"/>\n  <rtept lat=\"32.20798 \" lon=\"76.31624\"/>\n  <rtept lat=\"32.20762 \" lon=\"76.31623\"/>\n  <rtept lat=\"32.20736 \" lon=\"76.3162\"/>\n  <rtept lat=\"32.20718 \" lon=\"76.31612\"/>\n  <rtept lat=\"32.20708 \" lon=\"76.31608\"/>\n  <rtept lat=\"32.207 \" lon=\"76.31603\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.31601\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.31597\"/>\n  <rtept lat=\"32.20686 \" lon=\"76.31591\"/>\n  <rtept lat=\"32.20675 \" lon=\"76.31577\"/>\n  <rtept lat=\"32.20665 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20656 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20653 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20649 \" lon=\"76.31567\"/>\n  <rtept lat=\"32.20648 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31569\"/>\n  <rtept lat=\"32.20645 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20643 \" lon=\"76.31575\"/>\n  <rtept lat=\"32.2064319 \" lon=\"76.3157541\"/>\n  <rtept lat=\"32.2063 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.2059 \" lon=\"76.31559\"/>\n  <rtept lat=\"32.2058956 \" lon=\"76.315591\"/>\n  <rtept lat=\"32.2058956 \" lon=\"76.315591\"/>\n  <rtept lat=\"32.2063 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20643 \" lon=\"76.31575\"/>\n  <rtept lat=\"32.2064319 \" lon=\"76.3157541\"/>\n  <rtept lat=\"32.20645 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31569\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20648 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20649 \" lon=\"76.31567\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20653 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20656 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20665 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20675 \" lon=\"76.31577\"/>\n  <rtept lat=\"32.20686 \" lon=\"76.31591\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.31597\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.31601\"/>\n  <rtept lat=\"32.207 \" lon=\"76.31603\"/>\n  <rtept lat=\"32.20708 \" lon=\"76.31608\"/>\n  <rtept lat=\"32.20718 \" lon=\"76.31612\"/>\n  <rtept lat=\"32.20736 \" lon=\"76.3162\"/>\n  <rtept lat=\"32.20762 \" lon=\"76.31623\"/>\n  <rtept lat=\"32.20798 \" lon=\"76.31624\"/>\n  <rtept lat=\"32.2082 \" lon=\"76.31625\"/>\n  <rtept lat=\"32.20853 \" lon=\"76.31627\"/>\n  <rtept lat=\"32.20868 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20882 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.2089 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20897 \" lon=\"76.31629\"/>\n  <rtept lat=\"32.20913 \" lon=\"76.31639\"/>\n  <rtept lat=\"32.20919 \" lon=\"76.31647\"/>\n  <rtept lat=\"32.20926 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.20932 \" lon=\"76.31664\"/>\n  <rtept lat=\"32.20939 \" lon=\"76.31668\"/>\n  <rtept lat=\"32.2095 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.20982 \" lon=\"76.31667\"/>\n  <rtept lat=\"32.21009 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.21012 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.21021 \" lon=\"76.31659\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21029 \" lon=\"76.31656\"/>\n  <rtept lat=\"32.21031 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31661\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31663\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.2102 \" lon=\"76.31677\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31698\"/>\n  <rtept lat=\"32.20995 \" lon=\"76.31702\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31716\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31731\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31736\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.3174\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31746\"/>\n  <rtept lat=\"32.20994 \" lon=\"76.31752\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21001 \" lon=\"76.31771\"/>\n  <rtept lat=\"32.21003 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21008 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21011 \" lon=\"76.31786\"/>\n  <rtept lat=\"32.21013 \" lon=\"76.31787\"/>\n  <rtept lat=\"32.21015 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21018 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21023 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21027 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21039 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21068 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21075 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21108 \" lon=\"76.31796\"/>\n  <rtept lat=\"32.21122 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21124 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21129 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21146 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21164 \" lon=\"76.31784\"/>\n  <rtept lat=\"32.21179 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21188 \" lon=\"76.31773\"/>\n  <rtept lat=\"32.21199 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21208 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21212 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21217 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.2122 \" lon=\"76.31755\"/>\n  <rtept lat=\"32.21226 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.21235 \" lon=\"76.31758\"/>\n  <rtept lat=\"32.21242 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21251 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21256 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21265 \" lon=\"76.31754\"/>\n  <rtept lat=\"32.21273 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.2128 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.21288 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.21295 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.213 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21366 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.2136812 \" lon=\"76.317382\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31732\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.3173\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31729\"/>\n  <rtept lat=\"32.21375 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21377 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.2138 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21382 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21384 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21385 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21388 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.2139 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21393 \" lon=\"76.31727\"/>\n  <rtept lat=\"32.21396 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21413 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21416 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21424 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21426 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21429 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21432 \" lon=\"76.31735\"/>\n  <rtept lat=\"32.21435 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21438 \" lon=\"76.3173\"/>\n  <rtept lat=\"32.2143816 \" lon=\"76.317302\"/>\n</rte>\n</gpx>","output":"str","x":490,"y":200,"wires":[["163fde23.adf4b2"]]},{"id":"163fde23.adf4b2","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["d243b890.463488"]]},{"id":"74b3eab3.65b214","type":"inject","z":"84d8564c.441438","name":"Police Vehicle-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":200,"wires":[["3be1117e.749ebe"]]},{"id":"eefc2318.f1518","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":200,"wires":[["4be9d0ef.60c04"]]},{"id":"d243b890.463488","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":200,"wires":[["eefc2318.f1518"]]},{"id":"4be9d0ef.60c04","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long),\n    \"vehicleType\":\"Police_Patrol\",\n    \"speed\":30\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":200,"wires":[["3ffe9726.8ca328"]]},{"id":"3ffe9726.8ca328","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/xQHmS6fIFknoUvI5zLlp/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":200,"wires":[[]]},{"id":"71482d89.d3dd24","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_POLICE-2_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n  <rtept lat=\"32.2070182 \" lon=\"76.3236179\"/>\n  <rtept lat=\"32.2072 \" lon=\"76.32361\"/>\n  <rtept lat=\"32.2072 \" lon=\"76.32279\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.2069339 \" lon=\"76.3227313\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.2056657 \" lon=\"76.3235422\"/>\n  <rtept lat=\"32.20565 \" lon=\"76.3236\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32367\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32375\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32384\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32395\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32397\"/>\n  <rtept lat=\"32.2056617 \" lon=\"76.3239673\"/>\n  <rtept lat=\"32.2056617 \" lon=\"76.3239673\"/>\n  <rtept lat=\"32.20568 \" lon=\"76.32406\"/>\n  <rtept lat=\"32.2057 \" lon=\"76.32414\"/>\n  <rtept lat=\"32.2057004 \" lon=\"76.3241371\"/>\n  <rtept lat=\"32.20574 \" lon=\"76.32422\"/>\n  <rtept lat=\"32.20578 \" lon=\"76.32427\"/>\n  <rtept lat=\"32.20581 \" lon=\"76.32431\"/>\n  <rtept lat=\"32.20589 \" lon=\"76.32439\"/>\n  <rtept lat=\"32.20591 \" lon=\"76.32442\"/>\n  <rtept lat=\"32.20594 \" lon=\"76.32446\"/>\n  <rtept lat=\"32.2059377 \" lon=\"76.3244625\"/>\n  <rtept lat=\"32.20611 \" lon=\"76.32439\"/>\n  <rtept lat=\"32.20618 \" lon=\"76.32435\"/>\n  <rtept lat=\"32.20641 \" lon=\"76.32424\"/>\n  <rtept lat=\"32.20656 \" lon=\"76.32417\"/>\n  <rtept lat=\"32.20661 \" lon=\"76.32416\"/>\n  <rtept lat=\"32.20673 \" lon=\"76.32411\"/>\n  <rtept lat=\"32.20681 \" lon=\"76.32407\"/>\n  <rtept lat=\"32.20692 \" lon=\"76.32402\"/>\n  <rtept lat=\"32.2069159 \" lon=\"76.3240201\"/>\n</rte>\n</gpx>","output":"str","x":490,"y":300,"wires":[["b8c0bdd2.e988f"]]},{"id":"b8c0bdd2.e988f","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":300,"wires":[["1f710020.6da32"]]},{"id":"438fb914.cb0b88","type":"inject","z":"84d8564c.441438","name":"Police Vehicle-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["71482d89.d3dd24"]]},{"id":"53383b51.9b4c04","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":300,"wires":[["67382e57.7b2e4"]]},{"id":"1f710020.6da32","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":300,"wires":[["53383b51.9b4c04"]]},{"id":"67382e57.7b2e4","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long),\n    \"vehicleType\":\"Police_Patrol\",\n    \"speed\":40\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":300,"wires":[["b561f39a.9c61e"]]},{"id":"b561f39a.9c61e","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/4dx6wUKggU7ctd2h1NBY/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":300,"wires":[[]]},{"id":"51153c45.e41c54","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_DUMP_TRUCK-1_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n   <rtept lat=\"32.2058224 \" lon=\"76.3235791\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.20631 \" lon=\"76.32242\"/>\n  <rtept lat=\"32.20611 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.20595 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20586 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20574 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20571 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2056 \" lon=\"76.3226\"/>\n  <rtept lat=\"32.20551 \" lon=\"76.32257\"/>\n  <rtept lat=\"32.20537 \" lon=\"76.32253\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32245\"/>\n  <rtept lat=\"32.20501 \" lon=\"76.32235\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32212\"/>\n  <rtept lat=\"32.20415 \" lon=\"76.32184\"/>\n  <rtept lat=\"32.20407 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.2040746 \" lon=\"76.3217875\"/>\n  <rtept lat=\"32.20409 \" lon=\"76.32177\"/>\n  <rtept lat=\"32.20411 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20412 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20424 \" lon=\"76.32178\"/>\n  <rtept lat=\"32.20427 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.20439 \" lon=\"76.32181\"/>\n  <rtept lat=\"32.20441 \" lon=\"76.32182\"/>\n  <rtept lat=\"32.20453 \" lon=\"76.32185\"/>\n  <rtept lat=\"32.20489 \" lon=\"76.32194\"/>\n  <rtept lat=\"32.20511 \" lon=\"76.322\"/>\n  <rtept lat=\"32.20522 \" lon=\"76.32203\"/>\n  <rtept lat=\"32.20526 \" lon=\"76.32204\"/>\n  <rtept lat=\"32.20618 \" lon=\"76.32217\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.2065236 \" lon=\"76.3222148\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32333\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.2056657 \" lon=\"76.3235422\"/>\n  <rtept lat=\"32.20565 \" lon=\"76.3236\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32367\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32375\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32384\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32395\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32398\"/>\n  <rtept lat=\"32.2056649 \" lon=\"76.3239831\"/>\n</rte>\n</gpx>","output":"str","x":510,"y":400,"wires":[["6f2df9fc.468ab8"]]},{"id":"6f2df9fc.468ab8","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":460,"wires":[["271db332.85de8c"]]},{"id":"928c4f59.d69f7","type":"inject","z":"84d8564c.441438","name":"Dump Truck-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":400,"wires":[["51153c45.e41c54"]]},{"id":"2d47dda2.9ee402","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":400,"wires":[["99311b27.3db008"]]},{"id":"271db332.85de8c","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":400,"wires":[["2d47dda2.9ee402"]]},{"id":"99311b27.3db008","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long),\n    \"vehicleType\":\"Dump_Truck\",\n    \"speed\":15\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":400,"wires":[["2ca35325.f2a4ac"]]},{"id":"2ca35325.f2a4ac","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/KkNBLMXdj144H9fUhR5N/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":400,"wires":[[]]},{"id":"fa8bf0ad.487f3","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_AMBULANCE-1_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n  <rtept lat=\"32.2058224 \" lon=\"76.3235791\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.20631 \" lon=\"76.32242\"/>\n  <rtept lat=\"32.20611 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.20595 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20586 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20574 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20571 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2056 \" lon=\"76.3226\"/>\n  <rtept lat=\"32.20551 \" lon=\"76.32257\"/>\n  <rtept lat=\"32.20537 \" lon=\"76.32253\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32245\"/>\n  <rtept lat=\"32.20501 \" lon=\"76.32235\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32212\"/>\n  <rtept lat=\"32.20415 \" lon=\"76.32184\"/>\n  <rtept lat=\"32.20407 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.2040746 \" lon=\"76.3217875\"/>\n  <rtept lat=\"32.20409 \" lon=\"76.32177\"/>\n  <rtept lat=\"32.20411 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20412 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20424 \" lon=\"76.32178\"/>\n  <rtept lat=\"32.20427 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.20439 \" lon=\"76.32181\"/>\n  <rtept lat=\"32.20441 \" lon=\"76.32182\"/>\n  <rtept lat=\"32.20453 \" lon=\"76.32185\"/>\n  <rtept lat=\"32.20489 \" lon=\"76.32194\"/>\n  <rtept lat=\"32.20511 \" lon=\"76.322\"/>\n  <rtept lat=\"32.20522 \" lon=\"76.32203\"/>\n  <rtept lat=\"32.20526 \" lon=\"76.32204\"/>\n  <rtept lat=\"32.20618 \" lon=\"76.32217\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.2065236 \" lon=\"76.3222148\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32333\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.2056657 \" lon=\"76.3235422\"/>\n  <rtept lat=\"32.20565 \" lon=\"76.3236\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32367\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32375\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32384\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32395\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32398\"/>\n  <rtept lat=\"32.2056649 \" lon=\"76.3239831\"/>\n</rte>\n</gpx>","output":"str","x":510,"y":560,"wires":[["7944dc57.939aa4"]]},{"id":"7944dc57.939aa4","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":620,"wires":[["5d2d3f5a.1a201"]]},{"id":"988ddc36.ecd48","type":"inject","z":"84d8564c.441438","name":"Ambulance-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":560,"wires":[["fa8bf0ad.487f3"]]},{"id":"691b3d12.3b8024","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":560,"wires":[["ff890597.7eb298"]]},{"id":"5d2d3f5a.1a201","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":560,"wires":[["691b3d12.3b8024"]]},{"id":"ff890597.7eb298","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"geohash\":geohash.encode(lat,long),\n    \"vehicleType\":\"Ambulance\",\n    \"speed\":50\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":560,"wires":[["efbb189a.4f2b58"]]},{"id":"efbb189a.4f2b58","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/k5hGrnAgF67IMrOPHveX/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":560,"wires":[[]]}]