data/flows.json
[{"id":"84d8564c.441438","type":"tab","label":"SCMS","disabled":false,"info":""},{"id":"3be1117e.749ebe","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_POLICE-1_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n  <rtept lat=\"32.2143703 \" lon=\"76.3173125\"/>\n  <rtept lat=\"32.21435 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21432 \" lon=\"76.31735\"/>\n  <rtept lat=\"32.21429 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21426 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21424 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21416 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21413 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21396 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21393 \" lon=\"76.31727\"/>\n  <rtept lat=\"32.2139 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21388 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21385 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21384 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21382 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.2138 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21377 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21375 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31729\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.3173\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31732\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.2137 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31751\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31753\"/>\n  <rtept lat=\"32.21378 \" lon=\"76.31757\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21387 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21392 \" lon=\"76.31762\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.31763\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21425 \" lon=\"76.31772\"/>\n  <rtept lat=\"32.21439 \" lon=\"76.31777\"/>\n  <rtept lat=\"32.21456 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21468 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21487 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21494 \" lon=\"76.31805\"/>\n  <rtept lat=\"32.21504 \" lon=\"76.31816\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31851\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31854\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31856\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31857\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.3186\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31862\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31864\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31865\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31867\"/>\n  <rtept lat=\"32.2153 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21528 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.21526 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21522 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21517 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21501 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21495 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21486 \" lon=\"76.3187\"/>\n  <rtept lat=\"32.21481 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21474 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21469 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21465 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.21459 \" lon=\"76.31874\"/>\n  <rtept lat=\"32.21454 \" lon=\"76.31877\"/>\n  <rtept lat=\"32.21445 \" lon=\"76.31887\"/>\n  <rtept lat=\"32.21436 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.2143 \" lon=\"76.31898\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31899\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21406 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21389 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31893\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21364 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.21363 \" lon=\"76.31895\"/>\n  <rtept lat=\"32.21361 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21359 \" lon=\"76.31901\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31903\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31906\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31912\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31917\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31921\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31929\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31959\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31968\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31974\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31977\"/>\n  <rtept lat=\"32.21353 \" lon=\"76.31983\"/>\n  <rtept lat=\"32.21352 \" lon=\"76.31984\"/>\n  <rtept lat=\"32.21351 \" lon=\"76.31987\"/>\n  <rtept lat=\"32.21348 \" lon=\"76.31991\"/>\n  <rtept lat=\"32.21327 \" lon=\"76.32007\"/>\n  <rtept lat=\"32.21324 \" lon=\"76.32009\"/>\n  <rtept lat=\"32.21308 \" lon=\"76.32021\"/>\n  <rtept lat=\"32.21269 \" lon=\"76.32049\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.32063\"/>\n  <rtept lat=\"32.2123 \" lon=\"76.32072\"/>\n  <rtept lat=\"32.21187 \" lon=\"76.32098\"/>\n  <rtept lat=\"32.21177 \" lon=\"76.32104\"/>\n  <rtept lat=\"32.21171 \" lon=\"76.32107\"/>\n  <rtept lat=\"32.21166 \" lon=\"76.32111\"/>\n  <rtept lat=\"32.21148 \" lon=\"76.32115\"/>\n  <rtept lat=\"32.21136 \" lon=\"76.32122\"/>\n  <rtept lat=\"32.2113574 \" lon=\"76.3212152\"/>\n  <rtept lat=\"32.2113574 \" lon=\"76.3212152\"/>\n  <rtept lat=\"32.21148 \" lon=\"76.32115\"/>\n  <rtept lat=\"32.21166 \" lon=\"76.32111\"/>\n  <rtept lat=\"32.21171 \" lon=\"76.32107\"/>\n  <rtept lat=\"32.21177 \" lon=\"76.32104\"/>\n  <rtept lat=\"32.21187 \" lon=\"76.32098\"/>\n  <rtept lat=\"32.2123 \" lon=\"76.32072\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.32063\"/>\n  <rtept lat=\"32.21269 \" lon=\"76.32049\"/>\n  <rtept lat=\"32.21308 \" lon=\"76.32021\"/>\n  <rtept lat=\"32.21324 \" lon=\"76.32009\"/>\n  <rtept lat=\"32.21327 \" lon=\"76.32007\"/>\n  <rtept lat=\"32.21348 \" lon=\"76.31991\"/>\n  <rtept lat=\"32.21351 \" lon=\"76.31987\"/>\n  <rtept lat=\"32.21352 \" lon=\"76.31984\"/>\n  <rtept lat=\"32.21353 \" lon=\"76.31983\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31977\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31974\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31968\"/>\n  <rtept lat=\"32.21356 \" lon=\"76.31959\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31929\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31921\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31917\"/>\n  <rtept lat=\"32.21355 \" lon=\"76.31912\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31906\"/>\n  <rtept lat=\"32.21357 \" lon=\"76.31903\"/>\n  <rtept lat=\"32.21359 \" lon=\"76.31901\"/>\n  <rtept lat=\"32.21361 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21363 \" lon=\"76.31895\"/>\n  <rtept lat=\"32.21364 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.31892\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31893\"/>\n  <rtept lat=\"32.21389 \" lon=\"76.31897\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21406 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.319\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31899\"/>\n  <rtept lat=\"32.2143 \" lon=\"76.31898\"/>\n  <rtept lat=\"32.21436 \" lon=\"76.31894\"/>\n  <rtept lat=\"32.21445 \" lon=\"76.31887\"/>\n  <rtept lat=\"32.21454 \" lon=\"76.31877\"/>\n  <rtept lat=\"32.21459 \" lon=\"76.31874\"/>\n  <rtept lat=\"32.21465 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.21469 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21474 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31868\"/>\n  <rtept lat=\"32.21481 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21486 \" lon=\"76.3187\"/>\n  <rtept lat=\"32.21495 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21501 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21517 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21522 \" lon=\"76.31873\"/>\n  <rtept lat=\"32.21526 \" lon=\"76.31872\"/>\n  <rtept lat=\"32.21528 \" lon=\"76.31871\"/>\n  <rtept lat=\"32.2153 \" lon=\"76.31869\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31867\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31865\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31864\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31862\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.3186\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31857\"/>\n  <rtept lat=\"32.21534 \" lon=\"76.31856\"/>\n  <rtept lat=\"32.21533 \" lon=\"76.31854\"/>\n  <rtept lat=\"32.21531 \" lon=\"76.31851\"/>\n  <rtept lat=\"32.21504 \" lon=\"76.31816\"/>\n  <rtept lat=\"32.21494 \" lon=\"76.31805\"/>\n  <rtept lat=\"32.21487 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21477 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21468 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21456 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21439 \" lon=\"76.31777\"/>\n  <rtept lat=\"32.21425 \" lon=\"76.31772\"/>\n  <rtept lat=\"32.21414 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21398 \" lon=\"76.31763\"/>\n  <rtept lat=\"32.21392 \" lon=\"76.31762\"/>\n  <rtept lat=\"32.21387 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21378 \" lon=\"76.31757\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31753\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31751\"/>\n  <rtept lat=\"32.2137 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.2136812 \" lon=\"76.317382\"/>\n  <rtept lat=\"32.21366 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.213 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21295 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21288 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.2128 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.21273 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.21265 \" lon=\"76.31754\"/>\n  <rtept lat=\"32.21256 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21251 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21242 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21235 \" lon=\"76.31758\"/>\n  <rtept lat=\"32.21226 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.2122 \" lon=\"76.31755\"/>\n  <rtept lat=\"32.21217 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.21212 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21208 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21199 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21188 \" lon=\"76.31773\"/>\n  <rtept lat=\"32.21179 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21164 \" lon=\"76.31784\"/>\n  <rtept lat=\"32.21146 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21129 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21124 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21122 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21108 \" lon=\"76.31796\"/>\n  <rtept lat=\"32.21075 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21068 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21039 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21027 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21023 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21018 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21015 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21013 \" lon=\"76.31787\"/>\n  <rtept lat=\"32.21011 \" lon=\"76.31786\"/>\n  <rtept lat=\"32.21008 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21003 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21001 \" lon=\"76.31771\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.20994 \" lon=\"76.31752\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31746\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.3174\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31736\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31731\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31716\"/>\n  <rtept lat=\"32.20995 \" lon=\"76.31702\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31698\"/>\n  <rtept lat=\"32.2102 \" lon=\"76.31677\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31663\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31661\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.21031 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21029 \" lon=\"76.31656\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21021 \" lon=\"76.31659\"/>\n  <rtept lat=\"32.21012 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.21009 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.20982 \" lon=\"76.31667\"/>\n  <rtept lat=\"32.2095 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.20939 \" lon=\"76.31668\"/>\n  <rtept lat=\"32.20932 \" lon=\"76.31664\"/>\n  <rtept lat=\"32.20926 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.20919 \" lon=\"76.31647\"/>\n  <rtept lat=\"32.20913 \" lon=\"76.31639\"/>\n  <rtept lat=\"32.20897 \" lon=\"76.31629\"/>\n  <rtept lat=\"32.2089 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20882 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20868 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20853 \" lon=\"76.31627\"/>\n  <rtept lat=\"32.2082 \" lon=\"76.31625\"/>\n  <rtept lat=\"32.20798 \" lon=\"76.31624\"/>\n  <rtept lat=\"32.20762 \" lon=\"76.31623\"/>\n  <rtept lat=\"32.20736 \" lon=\"76.3162\"/>\n  <rtept lat=\"32.20718 \" lon=\"76.31612\"/>\n  <rtept lat=\"32.20708 \" lon=\"76.31608\"/>\n  <rtept lat=\"32.207 \" lon=\"76.31603\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.31601\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.31597\"/>\n  <rtept lat=\"32.20686 \" lon=\"76.31591\"/>\n  <rtept lat=\"32.20675 \" lon=\"76.31577\"/>\n  <rtept lat=\"32.20665 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20656 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20653 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20649 \" lon=\"76.31567\"/>\n  <rtept lat=\"32.20648 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31569\"/>\n  <rtept lat=\"32.20645 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20643 \" lon=\"76.31575\"/>\n  <rtept lat=\"32.2064319 \" lon=\"76.3157541\"/>\n  <rtept lat=\"32.2063 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.2059 \" lon=\"76.31559\"/>\n  <rtept lat=\"32.2058956 \" lon=\"76.315591\"/>\n  <rtept lat=\"32.2058956 \" lon=\"76.315591\"/>\n  <rtept lat=\"32.2063 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20643 \" lon=\"76.31575\"/>\n  <rtept lat=\"32.2064319 \" lon=\"76.3157541\"/>\n  <rtept lat=\"32.20645 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31569\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20648 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20649 \" lon=\"76.31567\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20653 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20656 \" lon=\"76.31568\"/>\n  <rtept lat=\"32.20665 \" lon=\"76.31572\"/>\n  <rtept lat=\"32.20675 \" lon=\"76.31577\"/>\n  <rtept lat=\"32.20686 \" lon=\"76.31591\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.31597\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.31601\"/>\n  <rtept lat=\"32.207 \" lon=\"76.31603\"/>\n  <rtept lat=\"32.20708 \" lon=\"76.31608\"/>\n  <rtept lat=\"32.20718 \" lon=\"76.31612\"/>\n  <rtept lat=\"32.20736 \" lon=\"76.3162\"/>\n  <rtept lat=\"32.20762 \" lon=\"76.31623\"/>\n  <rtept lat=\"32.20798 \" lon=\"76.31624\"/>\n  <rtept lat=\"32.2082 \" lon=\"76.31625\"/>\n  <rtept lat=\"32.20853 \" lon=\"76.31627\"/>\n  <rtept lat=\"32.20868 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20882 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.2089 \" lon=\"76.31628\"/>\n  <rtept lat=\"32.20897 \" lon=\"76.31629\"/>\n  <rtept lat=\"32.20913 \" lon=\"76.31639\"/>\n  <rtept lat=\"32.20919 \" lon=\"76.31647\"/>\n  <rtept lat=\"32.20926 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.20932 \" lon=\"76.31664\"/>\n  <rtept lat=\"32.20939 \" lon=\"76.31668\"/>\n  <rtept lat=\"32.2095 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.20982 \" lon=\"76.31667\"/>\n  <rtept lat=\"32.21009 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.21012 \" lon=\"76.31662\"/>\n  <rtept lat=\"32.21021 \" lon=\"76.31659\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21029 \" lon=\"76.31656\"/>\n  <rtept lat=\"32.21031 \" lon=\"76.31657\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31658\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31661\"/>\n  <rtept lat=\"32.21032 \" lon=\"76.31663\"/>\n  <rtept lat=\"32.21026 \" lon=\"76.31669\"/>\n  <rtept lat=\"32.2102 \" lon=\"76.31677\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31698\"/>\n  <rtept lat=\"32.20995 \" lon=\"76.31702\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31716\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31731\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.31736\"/>\n  <rtept lat=\"32.20989 \" lon=\"76.3174\"/>\n  <rtept lat=\"32.20992 \" lon=\"76.31746\"/>\n  <rtept lat=\"32.20994 \" lon=\"76.31752\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.20996 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.20999 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21001 \" lon=\"76.31771\"/>\n  <rtept lat=\"32.21003 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21008 \" lon=\"76.31783\"/>\n  <rtept lat=\"32.21011 \" lon=\"76.31786\"/>\n  <rtept lat=\"32.21013 \" lon=\"76.31787\"/>\n  <rtept lat=\"32.21015 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21018 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21023 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21027 \" lon=\"76.31788\"/>\n  <rtept lat=\"32.21039 \" lon=\"76.31789\"/>\n  <rtept lat=\"32.21068 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21075 \" lon=\"76.31793\"/>\n  <rtept lat=\"32.21108 \" lon=\"76.31796\"/>\n  <rtept lat=\"32.21122 \" lon=\"76.31798\"/>\n  <rtept lat=\"32.21124 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21129 \" lon=\"76.31797\"/>\n  <rtept lat=\"32.21146 \" lon=\"76.31792\"/>\n  <rtept lat=\"32.21164 \" lon=\"76.31784\"/>\n  <rtept lat=\"32.21179 \" lon=\"76.31776\"/>\n  <rtept lat=\"32.21188 \" lon=\"76.31773\"/>\n  <rtept lat=\"32.21199 \" lon=\"76.31767\"/>\n  <rtept lat=\"32.21208 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21212 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21217 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.2122 \" lon=\"76.31755\"/>\n  <rtept lat=\"32.21226 \" lon=\"76.31756\"/>\n  <rtept lat=\"32.21235 \" lon=\"76.31758\"/>\n  <rtept lat=\"32.21242 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21246 \" lon=\"76.31761\"/>\n  <rtept lat=\"32.21251 \" lon=\"76.3176\"/>\n  <rtept lat=\"32.21256 \" lon=\"76.31759\"/>\n  <rtept lat=\"32.21265 \" lon=\"76.31754\"/>\n  <rtept lat=\"32.21273 \" lon=\"76.31748\"/>\n  <rtept lat=\"32.2128 \" lon=\"76.31744\"/>\n  <rtept lat=\"32.21288 \" lon=\"76.31741\"/>\n  <rtept lat=\"32.21295 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.213 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21366 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21368 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.2136812 \" lon=\"76.317382\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21371 \" lon=\"76.31732\"/>\n  <rtept lat=\"32.21372 \" lon=\"76.3173\"/>\n  <rtept lat=\"32.21373 \" lon=\"76.31729\"/>\n  <rtept lat=\"32.21375 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21377 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21379 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.2138 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21382 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21383 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21384 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21385 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.21388 \" lon=\"76.31725\"/>\n  <rtept lat=\"32.2139 \" lon=\"76.31726\"/>\n  <rtept lat=\"32.21393 \" lon=\"76.31727\"/>\n  <rtept lat=\"32.21396 \" lon=\"76.31728\"/>\n  <rtept lat=\"32.21413 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21416 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21418 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21422 \" lon=\"76.31739\"/>\n  <rtept lat=\"32.21424 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21426 \" lon=\"76.31738\"/>\n  <rtept lat=\"32.21429 \" lon=\"76.31737\"/>\n  <rtept lat=\"32.21432 \" lon=\"76.31735\"/>\n  <rtept lat=\"32.21435 \" lon=\"76.31733\"/>\n  <rtept lat=\"32.21438 \" lon=\"76.3173\"/>\n  <rtept lat=\"32.2143816 \" lon=\"76.317302\"/>\n</rte>\n</gpx>","output":"str","x":490,"y":200,"wires":[["163fde23.adf4b2"]]},{"id":"163fde23.adf4b2","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["d243b890.463488"]]},{"id":"74b3eab3.65b214","type":"inject","z":"84d8564c.441438","name":"Police Vehicle-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":200,"wires":[["3be1117e.749ebe"]]},{"id":"eefc2318.f1518","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":200,"wires":[["4be9d0ef.60c04"]]},{"id":"d243b890.463488","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":200,"wires":[["eefc2318.f1518"]]},{"id":"4be9d0ef.60c04","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"vehicleType\":\"Police_Patrol\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":200,"wires":[["3ffe9726.8ca328"]]},{"id":"3ffe9726.8ca328","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/xQHmS6fIFknoUvI5zLlp/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":200,"wires":[[]]},{"id":"71482d89.d3dd24","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_POLICE-2_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n  <rtept lat=\"32.2070182 \" lon=\"76.3236179\"/>\n  <rtept lat=\"32.2072 \" lon=\"76.32361\"/>\n  <rtept lat=\"32.2072 \" lon=\"76.32279\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.2069339 \" lon=\"76.3227313\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.2056657 \" lon=\"76.3235422\"/>\n  <rtept lat=\"32.20565 \" lon=\"76.3236\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32367\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32375\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32384\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32395\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32397\"/>\n  <rtept lat=\"32.2056617 \" lon=\"76.3239673\"/>\n  <rtept lat=\"32.2056617 \" lon=\"76.3239673\"/>\n  <rtept lat=\"32.20568 \" lon=\"76.32406\"/>\n  <rtept lat=\"32.2057 \" lon=\"76.32414\"/>\n  <rtept lat=\"32.2057004 \" lon=\"76.3241371\"/>\n  <rtept lat=\"32.20574 \" lon=\"76.32422\"/>\n  <rtept lat=\"32.20578 \" lon=\"76.32427\"/>\n  <rtept lat=\"32.20581 \" lon=\"76.32431\"/>\n  <rtept lat=\"32.20589 \" lon=\"76.32439\"/>\n  <rtept lat=\"32.20591 \" lon=\"76.32442\"/>\n  <rtept lat=\"32.20594 \" lon=\"76.32446\"/>\n  <rtept lat=\"32.2059377 \" lon=\"76.3244625\"/>\n  <rtept lat=\"32.20611 \" lon=\"76.32439\"/>\n  <rtept lat=\"32.20618 \" lon=\"76.32435\"/>\n  <rtept lat=\"32.20641 \" lon=\"76.32424\"/>\n  <rtept lat=\"32.20656 \" lon=\"76.32417\"/>\n  <rtept lat=\"32.20661 \" lon=\"76.32416\"/>\n  <rtept lat=\"32.20673 \" lon=\"76.32411\"/>\n  <rtept lat=\"32.20681 \" lon=\"76.32407\"/>\n  <rtept lat=\"32.20692 \" lon=\"76.32402\"/>\n  <rtept lat=\"32.2069159 \" lon=\"76.3240201\"/>\n</rte>\n</gpx>","output":"str","x":490,"y":300,"wires":[["b8c0bdd2.e988f"]]},{"id":"b8c0bdd2.e988f","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":300,"wires":[["1f710020.6da32"]]},{"id":"438fb914.cb0b88","type":"inject","z":"84d8564c.441438","name":"Police Vehicle-2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["71482d89.d3dd24"]]},{"id":"53383b51.9b4c04","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":300,"wires":[["67382e57.7b2e4"]]},{"id":"1f710020.6da32","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":300,"wires":[["53383b51.9b4c04"]]},{"id":"67382e57.7b2e4","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"vehicleType\":\"Police_Patrol\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":300,"wires":[["b561f39a.9c61e"]]},{"id":"b561f39a.9c61e","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/4dx6wUKggU7ctd2h1NBY/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":300,"wires":[[]]},{"id":"51153c45.e41c54","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_DUMP_TRUCK-1_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n   <rtept lat=\"32.2058224 \" lon=\"76.3235791\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.20631 \" lon=\"76.32242\"/>\n  <rtept lat=\"32.20611 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.20595 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20586 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20574 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20571 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2056 \" lon=\"76.3226\"/>\n  <rtept lat=\"32.20551 \" lon=\"76.32257\"/>\n  <rtept lat=\"32.20537 \" lon=\"76.32253\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32245\"/>\n  <rtept lat=\"32.20501 \" lon=\"76.32235\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32212\"/>\n  <rtept lat=\"32.20415 \" lon=\"76.32184\"/>\n  <rtept lat=\"32.20407 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.2040746 \" lon=\"76.3217875\"/>\n  <rtept lat=\"32.20409 \" lon=\"76.32177\"/>\n  <rtept lat=\"32.20411 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20412 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20424 \" lon=\"76.32178\"/>\n  <rtept lat=\"32.20427 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.20439 \" lon=\"76.32181\"/>\n  <rtept lat=\"32.20441 \" lon=\"76.32182\"/>\n  <rtept lat=\"32.20453 \" lon=\"76.32185\"/>\n  <rtept lat=\"32.20489 \" lon=\"76.32194\"/>\n  <rtept lat=\"32.20511 \" lon=\"76.322\"/>\n  <rtept lat=\"32.20522 \" lon=\"76.32203\"/>\n  <rtept lat=\"32.20526 \" lon=\"76.32204\"/>\n  <rtept lat=\"32.20618 \" lon=\"76.32217\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.2065236 \" lon=\"76.3222148\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32333\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.2056657 \" lon=\"76.3235422\"/>\n  <rtept lat=\"32.20565 \" lon=\"76.3236\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32367\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32375\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32384\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32395\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32398\"/>\n  <rtept lat=\"32.2056649 \" lon=\"76.3239831\"/>\n</rte>\n</gpx>","output":"str","x":510,"y":400,"wires":[["6f2df9fc.468ab8"]]},{"id":"6f2df9fc.468ab8","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":460,"wires":[["271db332.85de8c"]]},{"id":"928c4f59.d69f7","type":"inject","z":"84d8564c.441438","name":"Dump Truck-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":400,"wires":[["51153c45.e41c54"]]},{"id":"2d47dda2.9ee402","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":400,"wires":[["99311b27.3db008"]]},{"id":"271db332.85de8c","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":400,"wires":[["2d47dda2.9ee402"]]},{"id":"99311b27.3db008","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"vehicleType\":\"Dump_Truck\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":400,"wires":[["2ca35325.f2a4ac"]]},{"id":"2ca35325.f2a4ac","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/KkNBLMXdj144H9fUhR5N/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":400,"wires":[[]]},{"id":"fa8bf0ad.487f3","type":"template","z":"84d8564c.441438","name":"DHARMSHALA_AMBULANCE-1_DEMO_ROUTE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<gpx version=\"1.1\" creator=\"https://onthegomap.com\" xmlns=\"http://www.topografix.com/GPX/1/1\">\n  <metadata>\n    <name>6.43 mi route</name>\n    <link href=\"https://onthegomap.com\"><text>On The Go Map</text></link>\n    <time>2018-10-04T04:13:47.047Z</time>\n  </metadata>\n  <rte>\n  <rtept lat=\"32.2058224 \" lon=\"76.3235791\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.20631 \" lon=\"76.32242\"/>\n  <rtept lat=\"32.20611 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.20595 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20586 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20574 \" lon=\"76.32262\"/>\n  <rtept lat=\"32.20571 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.2057122 \" lon=\"76.3226136\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32261\"/>\n  <rtept lat=\"32.2056 \" lon=\"76.3226\"/>\n  <rtept lat=\"32.20551 \" lon=\"76.32257\"/>\n  <rtept lat=\"32.20537 \" lon=\"76.32253\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32245\"/>\n  <rtept lat=\"32.20501 \" lon=\"76.32235\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32212\"/>\n  <rtept lat=\"32.20415 \" lon=\"76.32184\"/>\n  <rtept lat=\"32.20407 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.2040746 \" lon=\"76.3217875\"/>\n  <rtept lat=\"32.20409 \" lon=\"76.32177\"/>\n  <rtept lat=\"32.20411 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20412 \" lon=\"76.32176\"/>\n  <rtept lat=\"32.20424 \" lon=\"76.32178\"/>\n  <rtept lat=\"32.20427 \" lon=\"76.32179\"/>\n  <rtept lat=\"32.20439 \" lon=\"76.32181\"/>\n  <rtept lat=\"32.20441 \" lon=\"76.32182\"/>\n  <rtept lat=\"32.20453 \" lon=\"76.32185\"/>\n  <rtept lat=\"32.20489 \" lon=\"76.32194\"/>\n  <rtept lat=\"32.20511 \" lon=\"76.322\"/>\n  <rtept lat=\"32.20522 \" lon=\"76.32203\"/>\n  <rtept lat=\"32.20526 \" lon=\"76.32204\"/>\n  <rtept lat=\"32.20618 \" lon=\"76.32217\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32221\"/>\n  <rtept lat=\"32.2065236 \" lon=\"76.3222148\"/>\n  <rtept lat=\"32.20703 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.20704 \" lon=\"76.32228\"/>\n  <rtept lat=\"32.2070352 \" lon=\"76.3222816\"/>\n  <rtept lat=\"32.20698 \" lon=\"76.32252\"/>\n  <rtept lat=\"32.20695 \" lon=\"76.32265\"/>\n  <rtept lat=\"32.20693 \" lon=\"76.32273\"/>\n  <rtept lat=\"32.20689 \" lon=\"76.32289\"/>\n  <rtept lat=\"32.20687 \" lon=\"76.32298\"/>\n  <rtept lat=\"32.20683 \" lon=\"76.32308\"/>\n  <rtept lat=\"32.20679 \" lon=\"76.32318\"/>\n  <rtept lat=\"32.20674 \" lon=\"76.3233\"/>\n  <rtept lat=\"32.20667 \" lon=\"76.3234\"/>\n  <rtept lat=\"32.20662 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20652 \" lon=\"76.32355\"/>\n  <rtept lat=\"32.20647 \" lon=\"76.32359\"/>\n  <rtept lat=\"32.20639 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20629 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20621 \" lon=\"76.32365\"/>\n  <rtept lat=\"32.20606 \" lon=\"76.32363\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.2046 \" lon=\"76.32333\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.2045982 \" lon=\"76.3233314\"/>\n  <rtept lat=\"32.20463 \" lon=\"76.32335\"/>\n  <rtept lat=\"32.20476 \" lon=\"76.32338\"/>\n  <rtept lat=\"32.20495 \" lon=\"76.32342\"/>\n  <rtept lat=\"32.2051 \" lon=\"76.32344\"/>\n  <rtept lat=\"32.2052 \" lon=\"76.32346\"/>\n  <rtept lat=\"32.20539 \" lon=\"76.3235\"/>\n  <rtept lat=\"32.20567 \" lon=\"76.32354\"/>\n  <rtept lat=\"32.2056657 \" lon=\"76.3235422\"/>\n  <rtept lat=\"32.20565 \" lon=\"76.3236\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32367\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32375\"/>\n  <rtept lat=\"32.20564 \" lon=\"76.32384\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32395\"/>\n  <rtept lat=\"32.20566 \" lon=\"76.32398\"/>\n  <rtept lat=\"32.2056649 \" lon=\"76.3239831\"/>\n</rte>\n</gpx>","output":"str","x":510,"y":560,"wires":[["7944dc57.939aa4"]]},{"id":"7944dc57.939aa4","type":"function","z":"84d8564c.441438","name":"Extract Route","func":"var waypoints = msg.payload.split(/\\r?\\n/) ;\n// the GPX file will contain many\n//  <rtept lat=\"40.76789\" lon=\"-73.9812\"/>\"\n\ngeocoordinates = waypoints.filter(path => path.match(/rtept/));\nvar route = \"\";\n\n//var lat, lon;\n//var geo = [];\n\nfor( x=0; x< geocoordinates.length; x++ ) {\n    fields = geocoordinates[x].split('\"');\n//    lat = parseFloat(fields[1]);\n//    lon = parseFloat(fields[3]);\n//    geo.push({lat,lon});\n    route = route + fields[1] + \",\"+ fields[3] + \"\\n\";\n}\n//msg.payload = geo;   // Array of geocoords\n\n// Send a big string to the CSV node so that\n// the CSV node splits each geocoord into an individual msg\nmsg.payload = route;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":620,"wires":[["5d2d3f5a.1a201"]]},{"id":"988ddc36.ecd48","type":"inject","z":"84d8564c.441438","name":"Ambulance-1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":560,"wires":[["fa8bf0ad.487f3"]]},{"id":"691b3d12.3b8024","type":"delay","z":"84d8564c.441438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":560,"wires":[["ff890597.7eb298"]]},{"id":"5d2d3f5a.1a201","type":"csv","z":"84d8564c.441438","name":"Split Route","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"lat,lon","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":970,"y":560,"wires":[["691b3d12.3b8024"]]},{"id":"ff890597.7eb298","type":"function","z":"84d8564c.441438","name":"Lat/Long","func":"var lat = msg.payload.lat\nvar long = msg.payload.lon\n\nvar geohash = global.get('geohashModule')\n\nmsg.payload = {\n    \"country\":\"US\",\n    \"latitude\":lat,\n    \"longitude\":long,\n    \"count\":\"0\",\n    \"vehicleType\":\"Ambulance\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":560,"wires":[["efbb189a.4f2b58"]]},{"id":"efbb189a.4f2b58","type":"http request","z":"84d8564c.441438","name":"RubikX_Core","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iot.rubikx.io/api/v1/k5hGrnAgF67IMrOPHveX/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":560,"wires":[[]]}]